<div class="alert alert-secondary alert-dismissible fade show" role="alert">
  By continuing to browse this website, you are informed that the website doesn't collect and treat any personal data
  in compliance to General Data Protection Regulation.

  <br>

  The website could publish non-personalized ads.

  <br>

  The website is only for business purposes and professionnals, and not for consumers and individuals purposes.

  <br>

  The website recommand you to block all cookies and all trackers by adjusting your web browser settings.

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>