<div class="card">
  <div class="card-body">
    <div class="list-group text-center">
      <a href="../legal-notice" class="list-group-item list-group-item-action">
        Legal notice
      </a>
      <a href="../terms-and-conditions" class="list-group-item list-group-item-action">
        Terms and conditions
      </a>
      <a href="../contact" class="list-group-item list-group-item-action">
        Contact
      </a>
      <a href="../contents/sale_of_databases_of_mathematics" class="list-group-item list-group-item-action">
        Sale of databases of mathematics
      </a>
      <a href="../reporting" class="list-group-item list-group-item-action">
        Reporting
      </a>
      <a href="../cad" class="list-group-item list-group-item-action">
        Computer-aided design
      </a>
      <a href="../contents" class="list-group-item list-group-item-action">
        Contents
      </a>
      <a href="../application-software-editions" class="list-group-item list-group-item-action">
        Application software publishing services on a flat-rate basis and under remote control only
      </a>
    </div>
  </div>
</div>