<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
  </head>
  <body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <br>

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Commerce de gros de produits chimiques -->
      <div class="card">
        <div class="card-header text-center">
          Wholesale of chemicals
        </div>
        <div class="card-body">
          <img src="/static/produitschimiques/static/cover_image.png"
               class="img-fluid"
               alt="Responsive image">

          <br>

          <!-- Sales of chemical products -->
          <div class="card">
            <div class="card-header text-center">
              Sales of chemical products
            </div>
            <div class="card-body">
              <div class="list-group text-center">
                <a href="../chemical-products/gas-mixture-of-pure-dihydrogen"
                   class="list-group-item list-group-item-action">
                  Wholesale of a gas mixture composed of pure dihydrogen
                </a>
                <a href="../chemical-products/hydrogen_economy"
                   class="list-group-item list-group-item-action">
                  Hydrogen economy
                </a>
                <a href="../chemical-products/agreement_provision_materials_french"
                   class="list-group-item list-group-item-action">
                  Agreement for the provision of materials in french
                </a>
              </div>
            </div>
          </div>
          <!-- Sales of chemical products -->

          <br>

          <!-- Investment -->
          <div class="card">
            <div class="card-header text-center">
              Investment
            </div>
            <div class="card-body">
              <div class="list-group text-center">
                <a href="../chemical-products/business_model_canvas" class="list-group-item list-group-item-action">
                  Business model canvas
                </a>
                <a href="../chemical-products/distribution_channels" class="list-group-item list-group-item-action">
                  Distribution channels
                </a>
                <a href="../chemical-products/cleantech_company" class="list-group-item list-group-item-action">
                  Holomorphe as a Cleantech company
                </a>
              </div>
            </div>
          </div>
          <!-- Investment -->

          <br>

          <!-- Management -->
          <div class="card">
            <div class="card-header text-center">
              Management
            </div>
            <div class="card-body">
              <div class="list-group text-center">
                <a href="../chemical-products/business_execution"
                   class="list-group-item list-group-item-action">
                  Business execution day after day per month
                </a>
                <a href="../chemical-products/investment"
                   class="list-group-item list-group-item-action">
                  Cost managament
                </a>
                <a href="../chemical-products/quality_management"
                   class="list-group-item list-group-item-action">
                  Quality managament
                </a>
                <a href="../chemical-products/laws"
                   class="list-group-item list-group-item-action">
                  Some laws to know
                </a>
              </div>
            </div>
          </div>
          <!-- Management -->

          <br>

          <!-- Research and development -->
          <div class="card">
            <div class="card-header text-center">
              Research and development
            </div>
            <div class="card-body">
              <div class="list-group text-center">
                <a href="../chemical-products/fundamental-research-of-the-us-patent-us4936961a" class="list-group-item list-group-item-action">
                  Fundamental research of the patent US4936961A - Part 1
                </a>
                <a href="../chemical-products/fundamental-research-of-the-us-patent-us4936961a-part-2" class="list-group-item list-group-item-action">
                  Fundamental research of the patent US4936961A - Part 2
                </a>
                <a href="../chemical-products/cad-stanley-meyer-water-electrolyser" class="list-group-item list-group-item-action">
                  Computer-aided design of Stanley Meyer's water electrolyser
                </a>
                <a href="../chemical-products/hydrogen_generator" class="list-group-item list-group-item-action">
                  Hydrogen generator
                </a>
                <a href="../chemical-products/voltage_intensifier_circuit" class="list-group-item list-group-item-action">
                  Voltage intensifier circuit
                </a>
                <a href="../chemical-products/hydrogen_rack" class="list-group-item list-group-item-action">
                  Hydrogen rack
                </a>
                <a href="../chemical-products/electronic_circuit_diagram_of_stanley_meyer_water_electrolyser" class="list-group-item list-group-item-action">
                  Electronic circuit diagram of Stanley Meyer's water electrolyser
                </a>
                <a href="../chemical-products/electronic_design_automation_of_stanley_meyer_water_electrolyser" class="list-group-item list-group-item-action">
                  Electronic design automation of Stanley Meyer's water electrolyser
                </a>
                <a href="../chemical-products/use_cases_with_stanley_meyer_water_electrolyser" class="list-group-item list-group-item-action">
                  Some use cases with Stanley Meyer water electrolyser
                </a>
                <a href="../chemical-products/comparison_of_electrolysers" class="list-group-item list-group-item-action">
                  Comparison of water electrolysers
                </a>
                <a href="../chemical-products/about_stanley_meyer" class="list-group-item list-group-item-action">
                  About Stanley Meyer
                </a>
                <a href="../chemical-products/about_electronics" class="list-group-item list-group-item-action">
                  About electronics
                </a>
                <a href="../chemical-products/about_electrolysis" class="list-group-item list-group-item-action">
                  About electrolysis
                </a>
                <a href="../chemical-products/about_electromagnetism" class="list-group-item list-group-item-action">
                  About electromagnetism
                </a>
                <a href="../chemical-products/about_electrochemistry" class="list-group-item list-group-item-action">
                  About electrochemistry
                </a>
                <a href="../chemical-products/theories_to_know_about_stanley_meyer_water_electrolyser" class="list-group-item list-group-item-action">
                  Some theories to know about Stanley Meyer water electrolyser
                </a>
                <a href="../chemical-products/smart_grid" class="list-group-item list-group-item-action">
                  Smart grid
                </a>
                <a href="../chemical-products/stanley_meyer_patents" class="list-group-item list-group-item-action">
                  Stanley Meyer's patents
                </a>
                <a href="../chemical-products/videos_about_stanley_meyer_water_electrolyser" class="list-group-item list-group-item-action">
                  Videos about a replication of Stanley Meyer water electrolyser by Jason ALOYAU
                </a>
              </div>
            </div>
          </div>
          <!-- Research and development -->

          <br>

          <!-- Sales of digital contents -->
          <div class="card">
            <div class="card-header text-center">
              Sales of digital contents
            </div>
            <div class="card-body">
              <div class="list-group text-center">
                <a href="../chemical-products/sale_of_open_source_software"
                   class="list-group-item list-group-item-action">
                  Sale of open source software for building Stanley Meyer's water electrolyser
                </a>
                <a href="../contents/fundamental_research_of_inventions"
                   class="list-group-item list-group-item-action">
                  Sale of fundamental research of inventions
                </a>
                <a href="../contents/general_conditions_of_sales"
                   class="list-group-item list-group-item-action">
                  General conditions of sale of digital content not supplied
                  on a material medium in french
                </a>
              </div>
            </div>
          </div>
          <!-- Sales of digital contents -->
        </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
  </body>
</html>