<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
  </head>
  <body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <br>

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Sale of fundamental research -->
      <div class="card text-center">
        <div class="card-header">
            Sale of fundamental research of patent us 4661747A
        </div>
        <div class="card-body">
            <!-- Patent -->
            <div class="card">
              <div class="card-header">
                Patent US4661747A - Efficient electrical conversion switching tube suitable for inductive loads -
                Inventor : Edwin V. Gray, Sr.
              </div>
              <div class="card-body">
                <a href="https://patents.google.com/patent/US4661747A/en?oq=US4661747"
                   class="list-group-item list-group-item-action">
                    See the patent
                </a>
              </div>
            </div>

            <br>

            <!-- Product -->
            <div class="card">
              <div class="card-header">
                Product
              </div>
              <div class="card-body">
                The product is a fundamental research about the invention above and this fundamental
                research is delivered under a PDF file.
                <br>
                <br>
                In this invention, we have to understand the following theories :
                <br>
                  - Quantum mechanics
                  <br>
                  - Thermodynamics
                  <br>
                  - Plasma physics
                  <br>
                  - Photoelectric effect
                  <br>
                  - Ionization
                  <br>
                  - Complex numbers
                  <br>
                  - Differential equation
                  <br>
                  - Electromagnetism
              </div>
            </div>

            <br>

            <!-- Pricing -->
            <div class="card">
              <div class="card-header">
                Pricing
              </div>
              <div class="card-body">
                The product costs 5 000.00 euros without taxes.
              </div>
            </div>

            <br>

            <!-- Types of payment -->
            <div class="card">
              <div class="card-header">
                Types of payment
              </div>
              <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Bank transfer</li>
                  </ul>
              </div>
            </div>

            <br>

            <!-- Types of Delivery -->
            <div class="card">
              <div class="card-header">
                Types of delivery
              </div>
              <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">File transfer service</li>
                    <li class="list-group-item">Email</li>
                  </ul>
              </div>
            </div>
        </div>
      </div>
      <!-- Sale of fundamental research -->

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
  </body>
</html>