<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}

    <!-- Code Ad -->
    {% include 'index/codeAd.html' %}
  </head>
  <body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <br>

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- ad1 -->
      {% include 'index/ad1.html' %}

      <br>

      <!-- Reporting -->
      <div class="card">
        <div class="card-header text-center">
          Reporting
        </div>
        <div class="card-body">
          <div class="list-group text-center">
            <!-- Business model canvas -->
            <a href="../reporting/business_model_canvas" class="list-group-item list-group-item-action">
              Reporting - Business model canvas
            </a>
            <!-- Business plan -->
            <a href="../reporting/business_plan" class="list-group-item list-group-item-action">
              Reporting - Business plan
            </a>
            <!-- Use case form -->
            <a href="../reporting/use_case_form" class="list-group-item list-group-item-action">
                Reporting - Use case form
            </a>
            <!-- Kanban board -->
            <a href="../reporting/kanban_board" class="list-group-item list-group-item-action">
                Reporting - Kanban board
            </a>
            <!-- Gap analysis -->
            <a href="../reporting/gap_analysis" class="list-group-item list-group-item-action">
                Reporting - Gap analysis
            </a>
            <!-- Job analysis -->
            <a href="../reporting/job_analysis" class="list-group-item list-group-item-action">
                Reporting - Job analysis
            </a>
            <!-- Pricing strategy -->
            <a href="../reporting/pricing_strategy" class="list-group-item list-group-item-action">
                Reporting - Pricing strategy
            </a>
            <!-- Value proposition canvas -->
            <a href="../reporting/value_proposition_canvas" class="list-group-item list-group-item-action">
                Reporting - Value proposition canvas
            </a>
            <!-- Business plan cleaning services -->
            <a href="../reporting/business_plan_cleaning_services" class="list-group-item list-group-item-action">
                Reporting - Business plan cleaning services
            </a>
            <!-- Competitor worksheet -->
            <a href="../reporting/competitor_worksheet" class="list-group-item list-group-item-action">
                Reporting - Competitor worksheet
            </a>
            <!-- Operational plan -->
            <a href="../reporting/operational_plan" class="list-group-item list-group-item-action">
                Reporting - Operational plan
            </a>
            <!-- Swot analysis -->
            <a href="../reporting/swot_analysis" class="list-group-item list-group-item-action">
                Reporting - Swot analysis
            </a>
            <!-- Business requirement document -->
            <a href="../reporting/business_requirement_document" class="list-group-item list-group-item-action">
                Reporting - Business requirement document
            </a>
            <!-- Target market worksheet -->
            <a href="../reporting/target_market_worksheet" class="list-group-item list-group-item-action">
                Reporting - Target market worksheet
            </a>
            <!-- Product service worksheet -->
            <a href="../reporting/product_service_worksheet" class="list-group-item list-group-item-action">
                Reporting - Product service worksheet
            </a>
            <!-- Marketing plan -->
            <a href="../reporting/marketing_plan" class="list-group-item list-group-item-action">
                Reporting - Marketing plan
            </a>
            <!-- Fund sources and uses -->
            <a href="../reporting/fund_sources_and_uses" class="list-group-item list-group-item-action">
                Reporting - Fund sources and uses
            </a>
            <!-- Physical inventory count sheet -->
            <a href="../reporting/physical_inventory_count_sheet" class="list-group-item list-group-item-action">
                Reporting - Physical inventory count sheet
            </a>
            <!-- Operational budget -->
            <a href="../reporting/operational_budget" class="list-group-item list-group-item-action">
                Reporting - Operational budget
            </a>
            <!-- Vendor contact sheet -->
            <a href="../reporting/vendor_contact_sheet" class="list-group-item list-group-item-action">
                Reporting - Vendor contact sheet
            </a>
            <!-- Petty cash journal -->
            <a href="../reporting/petty_cash_journal" class="list-group-item list-group-item-action">
                Reporting - Petty cash journal
            </a>
            <!-- Vendor product pricing sheet -->
            <a href="../reporting/vendor_product_pricing_sheet" class="list-group-item list-group-item-action">
                Reporting - Vendor product pricing sheet
            </a>
            <!-- Vendor comparison worksheet -->
            <a href="../reporting/vendor_comparison_worksheet" class="list-group-item list-group-item-action">
                Reporting - Vendor comparison worksheet
            </a>
            <!-- Business goals worksheet -->
            <a href="../reporting/business_goals_worksheet" class="list-group-item list-group-item-action">
                Reporting - Business goals worksheet
            </a>
            <!-- Daily business log sheet -->
            <a href="../reporting/daily_business_log_sheet" class="list-group-item list-group-item-action">
                Reporting - Daily business log sheet
            </a>
            <!-- Employee log sheet -->
            <a href="../reporting/employee_log_sheet" class="list-group-item list-group-item-action">
                Reporting - Employee log sheet
            </a>
            <!-- Management plan -->
            <a href="../reporting/management_plan" class="list-group-item list-group-item-action">
                Reporting - Management plan
            </a>
            <!-- Risk management worksheet -->
            <a href="../reporting/risk_management_worksheet" class="list-group-item list-group-item-action">
                Reporting - Risk management worksheet
            </a>
            <!-- Vendor service pricing sheet -->
            <a href="../reporting/vendor_service_pricing_sheet" class="list-group-item list-group-item-action">
                Reporting - Vendor service pricing sheet
            </a>
            <!-- Start up budget calculator -->
            <a href="../reporting/start_up_budget_calculator" class="list-group-item list-group-item-action">
                Reporting - Start up budget calculator
            </a>
            <!-- Monthly budget -->
            <a href="../reporting/monthly_budget" class="list-group-item list-group-item-action">
                Reporting - Monthly budget
            </a>
            <!-- Project budget -->
            <a href="../reporting/project_budget" class="list-group-item list-group-item-action">
                Reporting - Project budget
            </a>
            <!-- Quarterly budget -->
            <a href="../reporting/quarterly_budget" class="list-group-item list-group-item-action">
                Reporting - Quarterly budget
            </a>
            <!-- Annual budget -->
            <a href="../reporting/annual_budget" class="list-group-item list-group-item-action">
                Reporting - Annual budget
            </a>
            <!-- Twelve month budget forecast -->
            <a href="../reporting/twelve_month_budget_forecast" class="list-group-item list-group-item-action">
                Reporting - Twelve month budget forecast
            </a>
            <!-- Start up budget variance -->
            <a href="../reporting/start_up_budget_variance" class="list-group-item list-group-item-action">
                Reporting - Start up budget variance
            </a>
            <!-- Flexible static budget variance -->
            <a href="../reporting/flexible_static_budget_variance" class="list-group-item list-group-item-action">
                Reporting - Flexible static budget variance
            </a>
            <!-- Twelve month marketing budget -->
            <a href="../reporting/twelve_month_marketing_budget" class="list-group-item list-group-item-action">
                Reporting - Twelve month marketing budget
            </a>
            <!-- Twelve month marketing budget variance -->
            <a href="../reporting/twelve_month_marketing_budget_variance" class="list-group-item list-group-item-action">
                Reporting - Twelve month marketing budget variance
            </a>
            <!-- Flexible budget variance -->
            <a href="../reporting/flexible_budget_variance" class="list-group-item list-group-item-action">
                Reporting - Flexible budget variance
            </a>
            <!-- Month operating budget variance -->
            <a href="../reporting/month_operating_budget_variance" class="list-group-item list-group-item-action">
                Reporting - Month operating budget variance
            </a>
            <!-- Static budget variance -->
            <a href="../reporting/static_budget_variance" class="list-group-item list-group-item-action">
                Reporting - Static budget variance
            </a>
            <!-- Static budget -->
            <a href="../reporting/static_budget" class="list-group-item list-group-item-action">
                Reporting - Static budget
            </a>
            <!-- Flexible budget -->
            <a href="../reporting/flexible_budget" class="list-group-item list-group-item-action">
                Reporting - Flexible budget
            </a>
            <!-- Annual expense budget -->
            <a href="../reporting/annual_expense_budget" class="list-group-item list-group-item-action">
                Reporting - Annual expense budget
            </a>
            <!-- Annual income budget -->
            <a href="../reporting/annual_income_budget" class="list-group-item list-group-item-action">
                Reporting - Annual income budget
            </a>
            <!-- Department budget -->
            <a href="../reporting/department_budget" class="list-group-item list-group-item-action">
                Reporting - Department budget
            </a>
            <!-- Twelve month operating budget -->
            <a href="../reporting/twelve_month_operating_budget" class="list-group-item list-group-item-action">
                Reporting - Twelve month operating budget
            </a>
            <!-- Projected income statement -->
            <a href="../reporting/projected_income_statement" class="list-group-item list-group-item-action">
                Reporting - Projected income statement
            </a>
            <!-- Start up expenses -->
            <a href="../reporting/start_up_expenses" class="list-group-item list-group-item-action">
                Reporting - Start up expenses
            </a>
            <!-- Cost analysis -->
            <a href="../reporting/cost_analysis" class="list-group-item list-group-item-action">
                Reporting - Cost analysis
            </a>
            <!-- Sources and uses of funds -->
            <a href="../reporting/sources_and_uses_of_funds" class="list-group-item list-group-item-action">
                Reporting - Sources and uses of funds
            </a>
            <!-- Startup capital calculator -->
            <a href="../reporting/startup_capital_calculator" class="list-group-item list-group-item-action">
                Reporting - Startup capital calculator
            </a>
            <!-- Break even analysis -->
            <a href="../reporting/break_even_analysis" class="list-group-item list-group-item-action">
                Reporting - Break even analysis
            </a>
            <!-- Personal financial statement -->
            <a href="../reporting/personal_financial_statement" class="list-group-item list-group-item-action">
                Reporting - Personal financial statement
            </a>
            <!-- Promotions calendar -->
            <a href="../reporting/promotions_calendar" class="list-group-item list-group-item-action">
                Reporting - Promotions calendar
            </a>
          </div>
        </div>
      </div>

      <br>

      <!-- ad1 -->
      {% include 'index/ad1.html' %}

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <br>

    <!-- blockadblock -->
    {% include 'index/blockadblock.html' %}
  </body>
</html>