<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Code Ad -->
    {% include 'index/codeAd.html' %}

    <!-- title -->
    {% include 'index/title.html' %}
  </head>
  <body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- ad1 -->
      {% include 'index/ad1.html' %}

      <br>

      <!-- Body -->
      <div class="card">
        <div class="card-header text-center">
          Tax haven
        </div>
        <div class="card-body">
          <div class="list-group text-center">
            <a href="../tax-haven/corporation-tax" class="list-group-item list-group-item-action">
              Corporation tax
            </a>
            <a href="../tax-haven/vat-tax" class="list-group-item list-group-item-action">
              VAT tax
            </a>
            <a href="../tax-haven/eu-members" class="list-group-item list-group-item-action">
              E.U. members
            </a>
            <a href="../tax-haven/currency" class="list-group-item list-group-item-action">
              Currency
            </a>
            <a href="../tax-haven/carry-forward-of-ordinary-tax-losses" class="list-group-item list-group-item-action">
              Carry forward of ordinary tax losses
            </a>
            <a href="../tax-haven/carry-back-of-ordinary-tax-losses" class="list-group-item list-group-item-action">
              Carry back of ordinary tax losses
            </a>
            <a href="../tax-haven/capital-gains-tax-rate" class="list-group-item list-group-item-action">
              Capital gains tax rate
            </a>
            <a href="../tax-haven/capital-losses" class="list-group-item list-group-item-action">
              Capital losses
            </a>
            <a href="../tax-haven/vat-reduced-rate" class="list-group-item list-group-item-action">
              VAT reduced rate
            </a>
            <a href="../tax-haven/vat-registration-threshhold" class="list-group-item list-group-item-action">
              VAT registration threshhold
            </a>
            <a href="../tax-haven/vat-filing-and-payment" class="list-group-item list-group-item-action">
              VAT filing and payment
            </a>
            <a href="../tax-haven/other-taxes" class="list-group-item list-group-item-action">
              Other taxes
            </a>
            <a href="../tax-haven/taxable-period" class="list-group-item list-group-item-action">
              Taxable period
            </a>
            <a href="../tax-haven/tax-return-requirement" class="list-group-item list-group-item-action">
              Tax return requirement
            </a>
            <a href="../tax-haven/tax-return-due-date" class="list-group-item list-group-item-action">
              Tax return due date
            </a>
            <a href="../tax-haven/tax-residency-requirements" class="list-group-item list-group-item-action">
              Tax residency requirements
            </a>
            <a href="../tax-haven/tax-rate-on-dividends-from-local-investments" class="list-group-item list-group-item-action">
              Tax rate on dividends from local investments
            </a>
            <a href="../tax-haven/tax-rate-on-dividends-from-foreign-investments" class="list-group-item list-group-item-action">
              Tax rate on dividends from foreign investments
            </a>
            <a href="../tax-haven/withholding-tax-on-dividend-payments-to-foreign-shareholders" class="list-group-item list-group-item-action">
              Withholding tax on dividend payments to foreign shareholders
            </a>
            <a href="../tax-haven/tax-rate-on-interest-income" class="list-group-item list-group-item-action">
              Tax rate on interest income
            </a>
            <a href="../tax-haven/withholding-tax-on-interest-payments-to-foreign-recipients" class="list-group-item list-group-item-action">
              Withholding tax on interest payments to foreign recipients
            </a>
            <a href="../tax-haven/tax-deductibility-of-interest-expense" class="list-group-item list-group-item-action">
              Tax deductibility of interest expense
            </a>
            <a href="../tax-haven/tax-rate-on-royalty-income" class="list-group-item list-group-item-action">
              Tax rate on royalty income
            </a>
            <a href="../tax-haven/withholding-tax-on-royalty-payments-to-foreign-recipients" class="list-group-item list-group-item-action">
              Withholding tax on royalty payments to foreign recipients
            </a>
            <a href="../tax-haven/tax-deductibility-of-royalty-expense" class="list-group-item list-group-item-action">
              Tax deductibility of royalty expense
            </a>
            <a href="../tax-haven/taxability-of-disposal-of-shares-by-foreign-shareholder" class="list-group-item list-group-item-action">
              Taxability of disposal of shares by foreign shareholder
            </a>
            <a href="../tax-haven/taxation-of-partnership-profits" class="list-group-item list-group-item-action">
              Taxation of partnership profits
            </a>
            <a href="../tax-haven/taxation-of-branch-profits" class="list-group-item list-group-item-action">
              Taxation of branch profits
            </a>
            <a href="../tax-haven/branch-remittance-tax" class="list-group-item list-group-item-action">
              Branch remittance tax
            </a>
            <a href="../tax-haven/stamp-duty" class="list-group-item list-group-item-action">
              Stamp duty
            </a>
            <a href="../tax-haven/spoken-languages" class="list-group-item list-group-item-action">
              Spoken languages
            </a>
            <a href="../tax-haven/oecd-members" class="list-group-item list-group-item-action">
              OECD members
            </a>
            <a href="../tax-haven/death-penalty" class="list-group-item list-group-item-action">
              Death penalty
            </a>
            <a href="../tax-haven/airport" class="list-group-item list-group-item-action">
              Airport
            </a>
            <a href="../tax-haven/average-lowest-temperature" class="list-group-item list-group-item-action">
              Average lowest temperature [ºC]
            </a>
            <a href="../tax-haven/average-annual-precipitation" class="list-group-item list-group-item-action">
              Avearge annual precipitation [mm]
            </a>
            <a href="../tax-haven/registry-of-commerce" class="list-group-item list-group-item-action">
              Registry of commerce
            </a>
            <a href="../tax-haven/highest-personal-income-tax" class="list-group-item list-group-item-action">
              Highest personal income tax [%]
            </a>
            <a href="../tax-haven/land-area" class="list-group-item list-group-item-action">
              Land area [km^2]
            </a>
            <a href="../tax-haven/population" class="list-group-item list-group-item-action">
              Population [millions]
            </a>
            <a href="../tax-haven/taxation-on-foreign-income" class="list-group-item list-group-item-action">
              Taxation on foreign income [%]
            </a>
            <a href="../tax-haven/net-worth-tax" class="list-group-item list-group-item-action">
              Net worth tax [%]
            </a>
            <a href="../tax-haven/free-mobile-operator" class="list-group-item list-group-item-action">
              Free mobile operator
            </a>
            <a href="../tax-haven/become-permanent-resident" class="list-group-item list-group-item-action">
              Become permanent resident
            </a>
            <a href="../tax-haven/social-security-rate-for-corporations" class="list-group-item list-group-item-action">
              Social security rate for corporations
            </a>
            <a href="../tax-haven/social-security-rate-for-employees" class="list-group-item list-group-item-action">
              Social security rate for employees
            </a>
            <a href="../tax-haven/post-office-box-for-private-person" class="list-group-item list-group-item-action">
              Post office box for private person
            </a>
            <a href="../tax-haven/tax-treaties" class="list-group-item list-group-item-action">
              Double tax treaties
            </a>
            <a href="../tax-haven/tax-information-exchange-agreements" class="list-group-item list-group-item-action">
              Tax information exchange agreements
            </a>
            <a href="../tax-haven/company-liability-of-shareholder" class="list-group-item list-group-item-action">
            Company / Liability of shareholders
            </a>
            <a href="../tax-haven/company-minimum-number-of-shareholder" class="list-group-item list-group-item-action">
            Company / Minimum number of shareholders
            </a>
            <a href="../tax-haven/company-maximum-number-of-shareholder" class="list-group-item list-group-item-action">
            Company / Maximum number of shareholders
            </a>
            <a href="../tax-haven/company-restriction-on-nationality-residency-of-shareholder" class="list-group-item list-group-item-action">
            Company / Restriction on nationality residency of shareholders
            </a>
            <a href="../tax-haven/company-corporate-shareholders-allowe" class="list-group-item list-group-item-action">
            Company / Corporate shareholders allowed
            </a>
            <a href="../tax-haven/company-minimum-number-of-director" class="list-group-item list-group-item-action">
            Company / Minimum number of directors
            </a>
            <a href="../tax-haven/company-restriction-on-nationality-residency-of-director" class="list-group-item list-group-item-action">
            Company / Restriction on nationality residency of directors
            </a>
            <a href="../tax-haven/company-local-director-requiremen" class="list-group-item list-group-item-action">
            Company / Local director requirement
            </a>
            <a href="../tax-haven/company-corporate-directors-allowe" class="list-group-item list-group-item-action">
            Company / Corporate directors allowed
            </a>
            <a href="../tax-haven/company-shareholders--meeting-requiremen" class="list-group-item list-group-item-action">
            Company / Shareholders  meeting requirement
            </a>
            <a href="../tax-haven/company-shareholders--meetings-locatio" class="list-group-item list-group-item-action">
            Company / Shareholders  meetings location
            </a>
            <a href="../tax-haven/company-minimum-capital-requiremen" class="list-group-item list-group-item-action">
            Company / Minimum capital requirement
            </a>
            <a href="../tax-haven/company-can-the-capital-be-denominated-in-foreign-currenc" class="list-group-item list-group-item-action">
            Company / Can the capital be denominated in foreign currency
            </a>
            <a href="../tax-haven/company-non-par-value-shares-allowe" class="list-group-item list-group-item-action">
            Company / Non-par value shares allowed
            </a>
            <a href="../tax-haven/company-bearer-shares-allowe" class="list-group-item list-group-item-action">
            Company / Bearer shares allowed
            </a>
            <a href="../tax-haven/company-capital-duty-on-issurance-of-share" class="list-group-item list-group-item-action">
            Company / Capital duty on issurance of shares
            </a>
            <a href="../tax-haven/company-registered-office-needs-to-be-in-the-countr" class="list-group-item list-group-item-action">
            Company / Registered office needs to be in the country
            </a>
            <a href="../tax-haven/company-company-secretary-registered-agent-requiremen" class="list-group-item list-group-item-action">
            Company / Company secretary registered agent requirement
            </a>
            <a href="../tax-haven/company-restrictions-to-foreign-investor" class="list-group-item list-group-item-action">
            Company / Restrictions to foreign investors
            </a>
            <a href="../tax-haven/company-time-needed-for-registratio" class="list-group-item list-group-item-action">
            Company / Time needed for registration
            </a>
            <a href="../tax-haven/company-shelf-companies-availabl" class="list-group-item list-group-item-action">
            Company / Shelf companies available
            </a>
            <a href="../tax-haven/company-publicly-accessible-records-of-director" class="list-group-item list-group-item-action">
            Company / Publicly accessible records of directors
            </a>
            <a href="../tax-haven/company-publicly-accessible-records-of-shareholder" class="list-group-item list-group-item-action">
            Company / Publicly accessible records of shareholders
            </a>
            <a href="../tax-haven/company-publicly-accessible-financial-statements" class="list-group-item list-group-item-action">
            Company / Publicly accessible financial statements
            </a>
            <a href="../tax-haven/company-beneficial-ownership-disclosure" class="list-group-item list-group-item-action">
            Company / Beneficial ownership disclosure
            </a>
            <a href="../tax-haven/company-nominee-shareholder-allowed" class="list-group-item list-group-item-action">
            Company / Nominee shareholder allowed
            </a>
            <a href="../tax-haven/company-annual-return-requirement" class="list-group-item list-group-item-action">
            Company / Annual return requirement
            </a>
            <a href="../tax-haven/company-tax-return-requirement" class="list-group-item list-group-item-action">
            Company / Tax return requirement
            </a>
            <a href="../tax-haven/company-requirement-to-maintain-accounting-records" class="list-group-item list-group-item-action">
            Company / Requirement to maintain accounting records
            </a>
            <a href="../tax-haven/company-foreign-currency-accounting-allowed" class="list-group-item list-group-item-action">
            Company / Foreign currency accounting allowed
            </a>
            <a href="../tax-haven/company-accounting-records-can-be-held-outside-the-country" class="list-group-item list-group-item-action">
            Company / Accounting records can be held outside the country
            </a>
            <a href="../tax-haven/company-financial-statements-requirement" class="list-group-item list-group-item-action">
            Company / Financial statements requirement
            </a>
            <a href="../tax-haven/company-financial-statements-filing-requirement" class="list-group-item list-group-item-action">
            Company / Financial statements filing requirement
            </a>
            <a href="../tax-haven/company-accounting-principles-for-financial-statement" class="list-group-item list-group-item-action">
            Company / Accounting principles for financial statements
            </a>
            <a href="../tax-haven/company-consolidated-financial-statements-requirement" class="list-group-item list-group-item-action">
            Company / Consolidated financial statements requirement
            </a>
            <a href="../tax-haven/company-exemption-to-consolidated-financial-statements-requirement" class="list-group-item list-group-item-action">
            Company / Exemption to consolidated financial statements requirement
            </a>
            <a href="../tax-haven/company-audit-requirement" class="list-group-item list-group-item-action">
            Company / Audit requirement
            </a>
            <a href="../tax-haven/company-exemptions-to-audit-requirement" class="list-group-item list-group-item-action">
            Company / Exemptions to audit requirement
            </a>
            <a href="../tax-haven/trust-registration-requiremen" class="list-group-item list-group-item-action">
            Trust / Registration requirement
            </a>
            <a href="../tax-haven/trust-settlor-residency-requiremen" class="list-group-item list-group-item-action">
            Trust / Settlor residency requirement
            </a>
            <a href="../tax-haven/trust-beneficiary-residency-requiremen" class="list-group-item list-group-item-action">
            Trust / Beneficiary residency requirement
            </a>
            <a href="../tax-haven/trust-trustee-residency-requiremen" class="list-group-item list-group-item-action">
            Trust / Trustee residency requirement
            </a>
            <a href="../tax-haven/trust-should-the-trustee-be-license" class="list-group-item list-group-item-action">
            Trust / Should the trustee be licensed
            </a>
            <a href="../tax-haven/trust-protector-allowe" class="list-group-item list-group-item-action">
            Trust / Protector allowed
            </a>
            <a href="../tax-haven/trust-protector-requiremen" class="list-group-item list-group-item-action">
            Trust / Protector requirement
            </a>
            <a href="../tax-haven/trust-perpetuity-perio" class="list-group-item list-group-item-action">
            Trust / Perpetuity period
            </a>
            <a href="../tax-haven/trust-restriction-on-trust-propert" class="list-group-item list-group-item-action">
            Trust / Restriction on trust property
            </a>
            <a href="../tax-haven/trust-taxatio" class="list-group-item list-group-item-action">
            Trust / Taxation
            </a>
            <a href="../tax-haven/trust-confidentialit" class="list-group-item list-group-item-action">
            Trust / Confidentiality
            </a>
            <a href="../tax-haven/trust-asset-protectio" class="list-group-item list-group-item-action">
            Trust / Asset protection
            </a>
            <a href="../tax-haven/trust-reporting-requiremen" class="list-group-item list-group-item-action">
            Trust / Reporting requirement
            </a>
          </div>
        </div>
      </div>

      <br>

      <!-- ad1 -->
      {% include 'index/ad1.html' %}

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- blockadblock -->
    {% include 'index/blockadblock.html' %}
  </body>
</html>