<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- Header -->
    {% include 'index/title.html' %}
  </head>
  <body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Body -->
      <!-- Conditions générales d'utilisations -->
      <div class="card">
        <div class="card-header text-center">
          General conditions of use
        </div>
        <div class="card-body">
          <!-- Article 1 : Objet -->
          <div class="card">
            <div class="card-header text-center">
              Article 1 : object
            </div>
            <div class="card-body">
              <p class="card-text">
                The present "general conditions of use" relate to the framework
                legal terms of provision of the services of the site "www.holomorphe.com"
                and their use by the “User”.

                <br>

                The general conditions of use must be accepted by any User
                wishing to access the site.

                <br>

                They constitute the contract between the site and the User.

                <br>

                Access to the site by the User signifies acceptance of these general conditions
                of use. Possibly: 1) In case of non-acceptance of the conditions
                general terms of use stipulated in this contract, the User must waive
                access to the services offered by the site. 2) "www.holomorphe.com" reserves the right to modify
                unilaterally and at any time the content of these general conditions of use.
              </p>
            </div>
          </div>

          <br>

          <!-- Article 2 : Mentions légales -->
          <div class="card">
            <div class="card-header text-center">
              Article 2 : Legal notices
            </div>
            <div class="card-body">
              <p class="card-text">
                The website "www.holomorphe.com" is edited by the HOLOMORPHE company form legal "Simplified joint
                stock company with variable capital" with a capital of 100.00 € headquartered at 31 Avenue de Ségur
                75007 Paris.

                <br>

                The publication manager is Mr. Jason ALOYAU. The host of site "www.holomorphe.com" is OVH
                company with the legal form "Simplified joint stock company" with a capital
                of 10 069 020.00 € whose the head office is located at 2 rue Kellermann - 59100 Roubaix - France.
              </p>
            </div>
          </div>

          <br>

          <!-- Article 3 : Définitions -->
          <div class="card">
            <div class="card-header text-center">
              Article 3 : Definitions
            </div>
            <div class="card-body">
              <p class="card-text">
                The purpose of this clause is to define the different definitions
                essentials of the contract:
                <br>
                1) Site: this term refers to the website whose content is accessible from the address
                url: "www.holomorphe.com".
                <br>
                2) User: this term designates any person who uses the site or one of the services
                offered by the site.
              </p>
            </div>
          </div>

          <br>

          <!-- Article 4 : Accès aux services -->
          <div class="card">
            <div class="card-header text-center">
              Article 4 : Access to services
            </div>
            <div class="card-body">
              <p class="card-text">
                The site allows the User free access to the following services:
                1) Information on the provision of IT services by the HOLOMORPHE Company.
                2) Information on the supply of digital content not supplied on a medium
                material from the Holomorphe Society.

                <br>

                The site is accessible free of charge anywhere to any User with Internet access.

                <br>

                The site could block his access to the User if an Adblocker system is enabled on the User's monitor.

                <br>

                The user has to disable his Adblocker system to access to the site in order to facilitate the
                transmission of a communication by the use of an electronic communication network called "Internet"
                for insuring the maintenance, the development and the operation of the site.

                <br>

                All costs incurred by the User to access the service (computer equipment,
                software, Internet connection, etc.) are at its expenses.

                <br>

                The site implements all the means made available to ensure quality access to its services.

                <br>

                The obligation being of means, the site does not undertake to achieve this result.

                <br>

                Any event due to a case of force majeure resulting in a malfunction
                network or server does not engage the responsibility of the website: "www.holomorphe.com".

                <br>

                Access to the site's services may at any time be interrupted, suspended,
                of modification without notice for maintenance or for any other cases.

                <br>

                The User undertakes not to claim any compensations following the interruption, the suspension
                or the modification of this contract.

                <br>

                The User has the possibility to contact the site at the coordinates mentioned in the "Contact" page.
              </p>
            </div>
          </div>

          <br>

          <!-- Article 5 : Propriété intellectuelle -->
          <div class="card">
            <div class="card-header text-center">
              Article 5: Intellectual property
            </div>
            <div class="card-body">
              <p class="card-text">
                The brands, logos, signs and any other content on the site are protected by
                the Intellectual Property Code of the French Law and more particularly by copyright.

                <br>

                The User requests the prior authorization of the site for any reproduction, publication,
                copy of the various contents.

                <br>

                The User undertakes to use the contents of the site in a strictly private setting.

                <br>

                The use of content of this site for commercial purposes is strictly prohibited.

                <br>

                In accordance with articles 323-1 to 323-7 of the Penal Code of the French Law, the Users of the site
                must comply with these articles with regard to the site in order not to suffer criminal penalties.
              </p>
            </div>
          </div>

          <br>

          <!-- Article 6 : Données personnelles -->
          <div class="card">
            <div class="card-header text-center">
              Article 6 : Personal data
            </div>
            <div class="card-body">
              <p class="card-text">
                The site assures the User that there is no collection and information processing
                personal data with respect for privacy in accordance with Law n ° 78-17 of January 6, 1978
                relating to data processing, files and freedoms of the French Law and GDPR of the European Union Laws.
              </p>
            </div>
          </div>

          <br>

          <!-- Article 7 : Responsabilité et force majeure -->
          <div class="card">
            <div class="card-header text-center">
              Article 7 : Liability and force majeure
            </div>
            <div class="card-body">
              <p class="card-text">
                The sources of the information published on the site are deemed reliable.

                <br>

                However, the site reserves the right to not guarantee the reliability of the sources.

                <br>

                The information given on the site is for informational purposes only.

                <br>

                Thus, the User alone assumes the full responsibility for the use of
                information, contents and services of this site.

                <br>

                The site declines all responsibilities.

                <br>

                Any use of the service by the User having directly or indirectly the consequence of
                damage must be subject compensations for the benefit of the site.

                <br>

                An optimal guarantee of safety and confidentiality of the data transmitted is not guaranteed
                by the site.

                <br>

                However, the site undertakes to implement all the necessary means to best guarantee security and
                data confidentiality.

                <br>

                The site cannot be held responsible in the event of force majeure or unforeseeable and insurmountable
                fact of a third party.
              </p>
            </div>
          </div>

          <br>

          <!-- Article 8 : Liens hypertextes -->
          <div class="card">
            <div class="card-header text-center">
              Article 8 : Hypertext links
            </div>
            <div class="card-body">
              <p class="card-text">
                Many outgoing hypertext links are present on the site, however the web pages where these links
                lead do not engage the responsibility of "www.holomorphe.com" which does not have control of these
                links.

                <br>

                The User therefore cannot engage the responsibility of the site for the content and resources
                relating to these outgoing hyperlinks.

                <br>

                The hypertext links in the site don't redirect to any contents related to criminal acts, pornography,
                sexual abuse acts, violations of intellectual property or any kind of criminals activities.
              </p>
            </div>
          </div>

          <br>

          <!-- Article 9 : Évolution du contrat -->
          <div class="card">
            <div class="card-header text-center">
              Article 9 : Evolution of the contract
            </div>
            <div class="card-body">
              <p class="card-text">
                The site reserves the right to modify the clauses at any time stipulated in this contract.
              </p>
            </div>
          </div>

          <br>

          <!-- Article 10 : Durée -->
          <div class="card">
            <div class="card-header text-center">
              Article 10 : Duration
            </div>
            <div class="card-body">
              <p class="card-text">
                The duration of this contract is unlimited.

                <br>

                The contract produces its effects with consent of the User from the use of the service of the site.
              </p>
            </div>
          </div>

          <br>

          <!-- Article 11 : Droit applicable et juridiction compétente -->
          <div class="card">
            <div class="card-header text-center">
              Article 11 : Applicable law and competent jurisdiction
            </div>
            <div class="card-body">
              <p class="card-text">
                French law applies to this contract.

                <br>

                In the absence of an amicable resolution of a litigation born between the parties, only the courts
                of the city of Paris are competents.
              </p>
            </div>
          </div>

          <br>

          <!-- Article 12 : Publication par l'Utilisateur -->
          <div class="card">
            <div class="card-header text-center">
              Article 12 : Publication by the User
            </div>
            <div class="card-body">
              <p class="card-text">
                The Site does not allow the User to publish comments, information or personal works.

                <br>

                The Site prohibits Users from redirecting hypertext links to the site
                "www.holomorphe.com"
              </p>
            </div>
          </div>
        </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
  </body>
</html>