<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
</head>
<body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Body -->
      <div class="card text-center">
        <div class="card-header">
            Electronics
        </div>
        <div class="card-body">
          <div class="list-group">
              <a href="https://en.wikipedia.org/wiki/Electronics"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Electronics - 1 - Electronics
              </a>
              <a href="https://en.wikipedia.org/wiki/Capacitor"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 2 - Capacitor
              </a>
              <a href="https://en.wikipedia.org/wiki/Electronic_engineering"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 3 - Electronic engineering
              </a>
              <a href="https://en.wikipedia.org/wiki/Electrical_engineering_technology"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 4 - Electrical engineering technology
              </a>
              <a href="https://en.wikipedia.org/wiki/Fuzzy_electronics"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 5 - Fuzzy electronics
              </a>
              <a href="https://en.wikipedia.org/wiki/Outline_of_electronics"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 6 - Outline of electronics
              </a>
              <a href="https://en.wikipedia.org/wiki/Digital_electronics"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 7 - Digital electronics
              </a>
              <a href="https://en.wikipedia.org/wiki/Analogue_electronics"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 8 - Analogue electronics
              </a>
              <a href="https://en.wikipedia.org/wiki/Inductor"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 9 - Inductor
              </a>
              <a href="https://en.wikipedia.org/wiki/Resistor"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 10 - Resistor
              </a>
              <a href="https://en.wikipedia.org/wiki/Transformer"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 11 - Transformer
              </a>
              <a href="https://en.wikipedia.org/wiki/Diode"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 12 - Diode
              </a>
              <a href="https://en.wikipedia.org/wiki/Transistor"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 13 - Transistor
              </a>
              <a href="https://en.wikipedia.org/wiki/Sensor"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 14 - Sensor
              </a>
              <a href="https://en.wikipedia.org/wiki/Electronic_circuit_simulation"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 15 - Electronic circuit simulation
              </a>
              <a href="https://en.wikipedia.org/wiki/Electronic_design_automation"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 16 - Electronic design automation
              </a>
              <a href="https://en.wikipedia.org/wiki/Mathematical_methods_in_electronics"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 17 - Mathematical methods in electronic
              </a>
              <a href="https://en.wikipedia.org/wiki/Converter"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 18 - Converter
              </a>
              <a href="https://en.wikipedia.org/wiki/Electronic_oscillator"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 19 - Electronic oscillator
              </a>
              <a href="https://en.wikipedia.org/wiki/Timer"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electronics - 20 - Timer
              </a>
          </div>
        </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>