<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
</head>
<body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Body -->
      <div class="card text-center">
        <div class="card-header">
            Electrochemistry
        </div>
        <div class="card-body">
          <div class="list-group">
              <a href="https://en.wikipedia.org/wiki/Electrochemistry"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Electrochemistry - 1 - Electrochemistry
              </a>
              <a href="https://en.wikipedia.org/wiki/Michael_Faraday"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 2 - Michael Faraday
              </a>
              <a href="https://en.wikipedia.org/wiki/John_Frederic_Daniell"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 3 - John Frederic Daniell
              </a>
              <a href="https://en.wikipedia.org/wiki/Oxidation_state"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 4 - Oxidation state
              </a>
              <a href="https://en.wikipedia.org/wiki/Electrochemical_cell"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 5 - Electrochemical cell
              </a>
              <a href="https://en.wikipedia.org/wiki/Alessandro_Volta"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 6 - Alessandro Volta
              </a>
              <a href="https://en.wikipedia.org/wiki/Anode"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 7 - Anode
              </a>
              <a href="https://en.wikipedia.org/wiki/Cathode"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 8 - Cathode
              </a>
              <a href="https://en.wikipedia.org/wiki/Electrolyte"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 9 - Electrolyte
              </a>
              <a href="https://en.wikipedia.org/wiki/Standard_electrode_potential"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 10 - Standard electrode potential
              </a>
              <a href="https://en.wikipedia.org/wiki/Faraday_constant"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 11 - Faraday constant
              </a>
              <a href="https://en.wikipedia.org/wiki/Nernst_equation"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 12 - Nernst equation
              </a>
              <a href="https://en.wikipedia.org/wiki/Concentration_cell"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 13 - Concentration cell
              </a>
              <a href="https://en.wikipedia.org/wiki/Bioelectromagnetics"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 14 - Bioelectromagnetics
              </a>
              <a href="https://en.wikipedia.org/wiki/Magnetoelectrochemistry"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 15 - Magnetoelectrochemistry
              </a>
              <a href="https://en.wikipedia.org/wiki/Nanoelectrochemistry"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 16 - Nanoelectrochemistry
              </a>
              <a href="https://en.wikipedia.org/wiki/Bipolar_electrochemistry"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 17 - Bipolar electrochemistry
              </a>
              <a href="https://en.wikipedia.org/wiki/Electrochemical_potential"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 18 - Electrochemical_potential
              </a>
              <a href="https://en.wikipedia.org/wiki/Electrochemical_engineering"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 19 - Electrochemical engineering
              </a>
              <a href="https://en.wikipedia.org/wiki/Voltammetry"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrochemistry - 20 - Voltammetry
              </a>
          </div>
        </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>