<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
</head>
<body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Body -->
      <div class="card text-center">
        <div class="card-header">
            Electrolysis
        </div>
        <div class="card-body">
          <div class="list-group">
              <a href="https://en.wikipedia.org/wiki/Electrolysis"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Electrolysis - 1 - Electrolysis
              </a>
              <a href="https://en.wikipedia.org/wiki/Ion-exchange_membrane"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 2 - Ion exchange membrane
              </a>
              <a href="https://en.wikipedia.org/wiki/Faraday%27s_laws_of_electrolysis"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 3 - Faraday's laws of electrolysis
              </a>
              <a href="https://en.wikipedia.org/wiki/Ion#Anions_and_cations"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 4 - Anions and cations
              </a>
              <a href="https://en.wikipedia.org/wiki/Redox"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 5 - Redox
              </a>
              <a href="https://en.wikipedia.org/wiki/Electroplating"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 6 - Electroplating
              </a>
              <a href="https://en.wikipedia.org/wiki/Electrowinning"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 7 - Electrowinning
              </a>
              <a href="https://en.wikipedia.org/wiki/Electrolysis_of_water"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 8 - Electrolysis of water
              </a>
              <a href="https://en.wikipedia.org/wiki/Hydrogen_production"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 9 - Hydrogen production
              </a>
              <a href="https://en.wikipedia.org/wiki/Alkaline_water_electrolysis"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 10 - Alkaline water electrolysis
              </a>
              <a href="https://en.wikipedia.org/wiki/Electrolytic_cell"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 11 - Electrolytic cell
              </a>
              <a href="https://en.wikipedia.org/wiki/Faraday_efficiency"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 12 - Faraday efficiency
              </a>
              <a href="https://en.wikipedia.org/wiki/High-pressure_electrolysis"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 13 - High pressure electrolysis
              </a>
              <a href="https://en.wikipedia.org/wiki/Cottrell_equation"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 14 - Cottrell equation
              </a>
              <a href="https://en.wikipedia.org/wiki/Overpotential"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 15 - Overpotential
              </a>
              <a href="https://en.wikipedia.org/wiki/Half-reaction"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 16 - Half reaction
              </a>
              <a href="https://en.wikipedia.org/wiki/Reduction_potential"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 17 - Reduction potential
              </a>
              <a href="https://en.wikipedia.org/wiki/Standard_hydrogen_electrode"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 18 - Standard hydrogen electrode
              </a>
              <a href="https://en.wikipedia.org/wiki/Half-cell"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 19 - Half cell
              </a>
              <a href="https://en.wikipedia.org/wiki/Timeline_of_hydrogen_technologies"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electrolysis - 20 - Timeline of hydrogen technologies
              </a>
          </div>
        </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>