<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
</head>
<body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Body -->
      <div class="card text-center">
        <div class="card-header">
            Electromagnetism
        </div>
        <div class="card-body">
          <div class="list-group">
              <a href="https://en.wikipedia.org/wiki/Electromagnetism"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Electromagnetism - 1 - Electromagnetism
              </a>
              <a href="https://en.wikipedia.org/wiki/Electric_field"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 2 - Electric_field
              </a>
              <a href="https://en.wikipedia.org/wiki/Magnetic_field"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 3 - Magnetic_field
              </a>
              <a href="https://en.wikipedia.org/wiki/Electromagnetic_field"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 4 - Electromagnetic field
              </a>
              <a href="https://en.wikipedia.org/wiki/Electromagnetic_radiation"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 5 - Electromagnetic radiation
              </a>
              <a href="https://en.wikipedia.org/wiki/Lorentz_force"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 6 - Lorentz force
              </a>
              <a href="https://en.wikipedia.org/wiki/Electricity"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 7 - Electricity
              </a>
              <a href="https://en.wikipedia.org/wiki/Magnetism"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 8 - Magnetism
              </a>
              <a href="https://en.wikipedia.org/wiki/Electromagnetic_induction"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 9 - Electromagnetic induction
              </a>
              <a href="https://en.wikipedia.org/wiki/Lenz%27s_law"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 10 - Lenz's_law
              </a>
              <a href="https://en.wikipedia.org/wiki/Faraday%27s_law_of_induction"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 11 - Faraday's law of induction
              </a>
              <a href="https://en.wikipedia.org/wiki/Maxwell%27s_equations"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 12 - Maxwell's equations
              </a>
              <a href="https://en.wikipedia.org/wiki/Electromagnetic_pulse"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 13 - Electromagnetic pulse
              </a>
              <a href="https://en.wikipedia.org/wiki/Maxwell_stress_tensor"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 14 - Maxwell stress tensor
              </a>
              <a href="https://en.wikipedia.org/wiki/Poynting_vector"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 15 - Poynting vector
              </a>
              <a href="https://en.wikipedia.org/wiki/Jefimenko%27s_equations"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 16 - Jefimenko's equations
              </a>
              <a href="https://en.wikipedia.org/wiki/Li%C3%A9nard%E2%80%93Wiechert_potential"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 17 - Lienard–Wiechert potential
              </a>
              <a href="https://en.wikipedia.org/wiki/Eddy_current"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 18 - Eddy current
              </a>
              <a href="https://en.wikipedia.org/wiki/London_equations"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 19 - London equations
              </a>
              <a href="https://en.wikipedia.org/wiki/Mathematical_descriptions_of_the_electromagnetic_field"
                 class="list-group-item list-group-item-action" target="_blank">
                  Electromagnetism - 20 - Mathematical descriptions of the electromagnetic field
              </a>
          </div>
        </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>