<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
</head>
<body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Body -->
      <div class="card text-center">
        <div class="card-header">
            Stanley Meyer
        </div>
        <div class="card-body">
          <div class="list-group">
              <a href="https://www.youtube.com/watch?v=DcaSL0yQ6Kg"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Stanley Meyer - 1
              </a>
              <a href="https://www.youtube.com/watch?v=nCm4X7g6gq0"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 2
              </a>
              <a href="https://www.youtube.com/watch?v=staL1wr07Sg"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 3
              </a>
              <a href="https://www.youtube.com/watch?v=GsMOFHPjZpo"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 4
              </a>
              <a href="https://www.youtube.com/watch?v=pKZ_67cReu0"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 5
              </a>
              <a href="https://www.youtube.com/watch?v=ELkH3rXRQ1w"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 6
              </a>
              <a href="https://www.youtube.com/watch?v=a74uarqap2E"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 7
              </a>
              <a href="https://www.youtube.com/watch?v=awO3--KQKng"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 8
              </a>
              <a href="https://www.youtube.com/watch?v=OXctY1K4wko"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 9
              </a>
              <a href="https://www.youtube.com/watch?v=mH9oE5F86U0"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 10
              </a>
              <a href="https://www.youtube.com/watch?v=om6jN1A8Q70"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 11
              </a>
              <a href="https://www.youtube.com/watch?v=GL5ivk4OuZM"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 12
              </a>
              <a href="https://www.youtube.com/watch?v=0ytu-vwudz4"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 13
              </a>
              <a href="https://www.youtube.com/watch?v=VrP3K400M7c"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 14
              </a>
              <a href="https://www.youtube.com/watch?v=4_jCKBv_fxo"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 15
              </a>
              <a href="https://www.youtube.com/watch?v=OA2xCIJmHqI"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 16
              </a>
              <a href="https://www.youtube.com/watch?v=q51igGQrZGE"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 17
              </a>
              <a href="https://www.youtube.com/watch?v=NQ-nawBX2NA"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 18
              </a>
              <a href="https://www.youtube.com/watch?v=OabYpHHPl38"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 19
              </a>
              <a href="https://www.youtube.com/watch?v=fxciCZHHAn4"
                 class="list-group-item list-group-item-action" target="_blank">
                  Stanley Meyer - 20
              </a>
          </div>
        </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>