<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
</head>
<body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Body -->
      <div class="card text-center">
          <div class="card-header">
              Business model canvas
          </div>
          <div class="card-body">
              <div class="card">
                  <div class="card-header">
                      Key partners
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                            Manufacturers of methanation reactors
                          </li>
                          <li class="list-group-item">
                            Manufacturers of precision mechanical parts by laser cutting
                          </li>
                          <li class="list-group-item">
                            Manufacturers of precision mechanical parts by 3D printing
                          </li>
                          <li class="list-group-item">
                            Screw and fastener manufacturers
                          </li>
                          <li class="list-group-item">
                            Manufacturers of dihydrogen pressure sensors
                          </li>
                          <li class="list-group-item">
                            Temperature sensor manufacturers
                          </li>
                          <li class="list-group-item">
                            Volume sensor manufacturers
                          </li>
                          <li class="list-group-item">
                            Acrylic tube manufacturers
                          </li>
                          <li class="list-group-item">
                              Container manufacturers
                          </li>
                          <li class="list-group-item">
                              Pipe manufacturers
                          </li>
                          <li class="list-group-item">
                              Electrical equipment manufacturers
                          </li>
                          <li class="list-group-item">
                              Computer hardware manufacturers
                          </li>
                      </ul>
                  </div>
              </div>

              <br>

              <div class="card">
                  <div class="card-header">
                      Key activities
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Production of synthetic methane by methanation
                          </li>
                          <li class="list-group-item">
                              Production of dihydrogen by electrolysis of water
                          </li>
                      </ul>
                  </div>
              </div>

              <br>

              <div class="card">
                  <div class="card-header">
                      Key resources
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Water electrolysers based on the inventions of Stanley Meyer
                          </li>
                          <li class="list-group-item">
                              Stainless steel pipes
                          </li>
                          <li class="list-group-item">
                              Electrical and electronic elements (wires, coils, transformers ...)
                          </li>
                          <li class="list-group-item">
                              Plumbing elements (connection hoses, valves, nipples ...)
                          </li>
                          <li class="list-group-item">
                              Fastening elements (screws, brackets, lugs ...)
                          </li>
                          <li class="list-group-item">
                              Computer elements (domain name, website, virtual private server ...)
                          </li>
                          <li class="list-group-item">
                              Real estate elements (building land, containers, fences ...)
                          </li>
                          <li class="list-group-item">
                              Furniture elements (shelves ...)
                          </li>
                          <li class="list-group-item">
                              Material elements (drill, jigsaw, nail saw ...)
                          </li>
                      </ul>
                  </div>
              </div>

              <br>

              <div class="card">
                  <div class="card-header">
                      Value propositions
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Production of gaseous dihydrogen by water electrolysis with very high efficiency
                              and very low power consumption
                          </li>
                          <li class="list-group-item">
                              No use of geopolitical metals
                          </li>
                          <li class="list-group-item">
                              No use of electrolytes
                          </li>
                          <li class="list-group-item">
                              No use of high amperages
                          </li>
                      </ul>
                  </div>
              </div>

              <br>

              <div class="card">
                  <div class="card-header">
                      Customer relations
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Email
                          </li>
                          <li class="list-group-item">
                              Phone
                          </li>
                          <li class="list-group-item">
                              Mail
                          </li>
                      </ul>
                  </div>
              </div>

              <br>

              <div class="card">
                  <div class="card-header">
                      Distribution channels
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Biomethane site connected to a natural gas network
                          </li>
                          <li class="list-group-item">
                              Industrial plant connected to a natural gas network
                          </li>
                      </ul>
                  </div>
              </div>

              <br>

              <div class="card">
                  <div class="card-header">
                      Customer segmentation
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Natural gas suppliers
                          </li>
                      </ul>
                  </div>
              </div>

              <br>

              <div class="card">
                  <div class="card-header">
                      Cost structure
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Wages / social security contributions
                          </li>
                          <li class="list-group-item">
                              Taxes
                          </li>
                          <li class="list-group-item">
                              Electricity
                          </li>
                          <li class="list-group-item">
                              Machinery / Equipment / Tools
                          </li>
                          <li class="list-group-item">
                              Premises
                          </li>
                          <li class="list-group-item">
                              Company vehicles
                          </li>
                          <li class="list-group-item">
                              Insurance costs
                          </li>
                          <li class="list-group-item">
                              Bank charges
                          </li>
                          <li class="list-group-item">
                              Business domiciliation fees
                          </li>
                          <li class="list-group-item">
                              Accounting and auditor fees
                          </li>
                          <li class="list-group-item">
                              Quality certification fees
                          </li>
                      </ul>
                  </div>
              </div>

              <br>

              <div class="card">
                  <div class="card-header">
                      Revenue stream
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Sale of gaseous dihydrogen injected into a natural gas network
                          </li>
                          <li class="list-group-item">
                              Sale of synthetic methane injected into a natural gas network
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>