<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
</head>
<body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Body -->
      <div class="card text-center">
          <div class="card-header">
              Business execution day after day per month
          </div>
          <div class="card-body">
              <!-- Days 1 to 7 (Development) -->
              <div class="card">
                  <div class="card-header">
                      Days 1 to 7 - Development
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Optimization of the mechanical parts of the Stanley Meyer's water electrolyzer
                          </li>
                          <li class="list-group-item">
                              Optimization of the electronic circuit of the Stanley Meyer's water electrolyzer
                          </li>
                          <li class="list-group-item">
                              Software development for internal purposes
                          </li>
                          <li class="list-group-item">
                              Software development for monetization
                          </li>
                          <li class="list-group-item">
                              Digital testing of the Stanley Meyer's water electrolyzer
                          </li>
                          <li class="list-group-item">
                              Physical testing of the Stanley Meyer's water electrolyzer
                          </li>
                          <li class="list-group-item">
                              Research and developement
                          </li>
                      </ul>
                  </div>
              </div>

              <br>

              <!-- Days 8 to 14 (Accounting) -->
              <div class="card">
                  <div class="card-header">
                      Days 8 to 14 - Accounting
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Accounting (V.A.T., Corporation tax, Land tax ...)
                          </li>
                          <li class="list-group-item">
                              Mandatory administrative declarations (D.G.F.I.P., URSSAF, Net-Entreprises, Douanes ...)
                          </li>
                          <li class="list-group-item">
                              Invoicings (Customers, Partners ...)
                          </li>
                          <li class="list-group-item">
                              Payments (Wages, Suppliers, Public administrations, Banks ...)
                          </li>
                          <li class="list-group-item">
                              Meetings for contracts and rules (Teams, Suppliers, Customers, Partners,
                              Public administrations, Investors ...)
                          </li>
                      </ul>
                  </div>
              </div>

              <br>

              <!-- Days 15 to 21 (Marketing) -->
              <div class="card">
                  <div class="card-header">
                      Days 15 to 21 - Marketing
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Global marketing (Energy market analysis, Global economy analysis,
                              Competitors analysis ...)
                          </li>
                          <li class="list-group-item">
                              Customers, Partners, Suppliers, Investors, Public administrations relationship marketing
                              (Phone call, Emailing, Physical meeting, Video conference ...)
                          </li>
                          <li class="list-group-item">
                              Event marketing (Virtual exhibition of the Stanley Meyer's water electrolyser,
                              Physical exhibition of the Stanley Meyer's water electrolyser,
                              Participation in energy, environment, social, finance, marketing, management, computing
                              fairs ...)
                          </li>
                      </ul>
                  </div>
              </div>

              <br>

              <!-- Days 22 to 31 (Management) -->
              <div class="card">
                  <div class="card-header">
                      Days 22 to 31 - Management
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              Team management (Plannings, Meetings, Feedbacks ...)
                          </li>
                          <li class="list-group-item">
                              Human resources management (Recruitment, Resource allocation, Vocational training ...)
                          </li>
                          <li class="list-group-item">
                              Collaborative management (Plannings, meetings and feedbacks with the teams, the partners,
                              the customers, the suppliers, the pulic administrations and the investors)
                          </li>
                          <li class="list-group-item">
                              Product management (Product inventory, Inventory of resources,
                              Inventory of industrial tools ...)
                          </li>
                          <li class="list-group-item">
                              Quality management (Mechanical tests, Measurement tests, Functional tests ...)
                          </li>
                          <li class="list-group-item">
                              Operations management (Inventory management, Supply management, Assembly chain,
                              Test of functioning of Stanley Meyer's water electrolysers before deploying them at
                              gas production sites, Deployment of Stanley Meyer's water electrolysers at
                              gas production sites ...)
                          </li>
                          <li class="list-group-item">
                              Knowledge and innovation management (Searching for public patents on Google Patent,
                              Selecting some interesting inventions from public patents, Listing mathematics
                              physics and chemistry theories, Technology watch ...)
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>