<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
</head>
<body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Body -->
      <div class="card text-center">
        <div class="card-header">
            Electronic design automation of the patent US 5,149,407 (Stanley Meyer's water electrolyzer)
        </div>
        <div class="card-body">
            <!-- Resistor R1 -->
            <div class="card text-center">
                <div class="card-header">
                    Part : Resistor R1 = Part("Device", "R", value="100K",
                    footprint='Resistor_THT:R_Axial_DIN0207_L6.3mm_D2.5mm_P10.16mm_Horizontal',
                    circuit=circuit)
                </div>
                <div class="card-body">
                  <img src="/static/produitschimiques/static/resistor.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>

            <br>

            <!-- Optocoupler -->
            <div class="card text-center">
                <div class="card-header">
                    Part : Optocoupler OC1 = Part('Isolator', 'LTV-352T',
                    footprint='Package_SO:SO-4_4.4x3.6mm_P2.54mm', circuit=circuit)
                </div>
                <div class="card-body">
                  <img src="/static/produitschimiques/static/optocoupler.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>

            <br>

            <!-- Diode bridge -->
            <div class="card text-center">
                <div class="card-header">
                    Part : Diode bridge BR1 = Part("Diode_Bridge", 'KBU8G',
                    footprint='Diode_THT:Diode_Bridge_Vishay_KBU', circuit=circuit)
                </div>
                <div class="card-body">
                  <img src="/static/produitschimiques/static/diode_bridge.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>

            <br>

            <!-- Transistor NPN T1 -->
            <div class="card text-center">
                <div class="card-header">
                    Part : Transistor NPN T1 = Part("Device", 'Q_NPN_CBE',
                    footprint='Package_TO_SOT_THT:TO-264-3_Vertical', circuit=circuit)
                </div>
                <div class="card-body">
                  <img src="/static/produitschimiques/static/transistor.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>

            <br>

            <!-- TerminalBlock TB1 -->
            <div class="card text-center">
                <div class="card-header">
                    Part : TerminalBlock_Phoenix TB_BR1 = Part("Connector", "Screw_Terminal_01x02",
                    footprint="TerminalBlock_Phoenix:TerminalBlock_Phoenix_MKDS-1,5-2-5.08_1x02_P5.08mm_Horizontal",
                    circuit=circuit)
                </div>
                <div class="card-body">
                  <img src="/static/produitschimiques/static/terminal_block.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>

            <br>

            <!-- Assembly -->
            <div class="card text-center">
                <div class="card-header">
                    Assembly
                </div>
                <div class="card-body">
                  <img src="/static/produitschimiques/static/assembly.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-secondary"
                href="https://github.com/Jay4C/Electronic_Design_Automation_With_Python_Skidl/blob/main/1_Holomorphe/Stanley_Meyer/Brevet_us_5149407_water_electrolyzer/unit_tests.py"
                role="button"
                target="_blank">Download this electronic circuit automation on GitHub</a>
        </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>