<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
</head>
<body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Body -->
      <div class="card text-center">
        <div class="card-header">
            Laws
        </div>
        <div class="card-body">
          <div class="list-group">
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:31997L0023"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Directive 97/23/EC of the European Parliament and of the Council of 29 May 1997 on the
                  approximation of the laws of the Member States relating to pressure equipment
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:31993L0015"
                 class="list-group-item list-group-item-action" target="_blank">
                  Council Directive 93/15/EEC of 5 April 1993 on the harmonization of the provisions concerning
                  the placing on the market and control of explosives for civil uses
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:31994L0009"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 94/9/EC of the European Parliament and of the Council of 23 March 1994 on the
                  approximation of the laws of the Member States relating to equipment and protective systems
                  intended for use in potentially explosive atmospheres
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX:32014L0035"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2014/35/EU of the European Parliament and of the Council of 26 February 2014 on
                  the harmonisation of the laws of the Member States relating to the making available on the
                  market of electrical equipment intended for use within certain voltage limits
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:31995L0016"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 95/16/EC of the European Parliament and of the Council of 29 June 1995 on
                  the approximation of the laws of the Member States relating to lifts
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:32006L0042"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2006/42/EC of the European Parliament and of the Council of 17 May 2006 on machinery
                  and amending Directive 95/16/EC
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:32004L0022"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2004/22/EC of the European Parliament and of the Council of 31 March 2004
                  on measuring instruments
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32014L0030&from=FR"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2014/30/EU of the European Parliament and of the Council of 26 February 2014
                  on the harmonisation of the laws of the Member States relating to electromagnetic compatibility
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:32007L0023"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2007/23/EC of the European Parliament and of the Council of 23 May 2007
                  concerning the placing of pyrotechnic articles on the market
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:32009L0023"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2009/23/EC of the European Parliament and of the Council on non-automatic
                  weighing instruments
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:32009L0105"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2009/105/EC of the European Parliament and of the Council on simple pressure vessels
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:32012L0018"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2012/18/EU of the European Parliament and of the Council of 4 July 2012 on the
                  control of major-accident hazards involving dangerous substances
              </a>
              <a href="https://www.legifrance.gouv.fr/codes/texte_lc/LEGITEXT000006074075"
                 class="list-group-item list-group-item-action" target="_blank">
                  Urban Planning Code
              </a>
              <a href="https://www.legifrance.gouv.fr/codes/texte_lc/LEGITEXT000006074220"
                 class="list-group-item list-group-item-action" target="_blank">
                  Environmental Code
              </a>
              <a href="https://www.legifrance.gouv.fr/codes/id/LEGITEXT000023983208/"
                 class="list-group-item list-group-item-action" target="_blank">
                  Energy Code
              </a>
              <a href="https://www.legifrance.gouv.fr/codes/texte_lc/LEGITEXT000006072050"
                 class="list-group-item list-group-item-action" target="_blank">
                  Labour Code
              </a>
              <a href="https://www.legifrance.gouv.fr/codes/texte_lc/LEGITEXT000005634379"
                 class="list-group-item list-group-item-action" target="_blank">
                  Commercial Code
              </a>
              <a href="https://www.legifrance.gouv.fr/codes/texte_lc/LEGITEXT000006069414/"
                 class="list-group-item list-group-item-action" target="_blank">
                  Intellectual Property Code
              </a>
              <a href="https://www.legifrance.gouv.fr/codes/texte_lc/LEGITEXT000006070987"
                 class="list-group-item list-group-item-action" target="_blank">
                  Postal and Electronic Communications Code
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:32004L0107"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2004/107/EC of the European Parliament and of the Council of 15 December 2004 on
                  arsenic, cadmium, mercury, nickel and polycyclic aromatic hydrocarbons in ambient air
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX:32017R0852"
                 class="list-group-item list-group-item-action" target="_blank">
                  Regulation (EU) 2017/852 of the European Parliament and of the Council of 17 May 2017
                  on mercury and repealing Regulation (EC) No 1102/2008
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/PDF/?uri=CELEX:21998A0623(01)"
                 class="list-group-item list-group-item-action" target="_blank">
                  United nations convention on the law of the sea and agreement on the implementation of part XI of
                  that convention
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32017R1938&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Regulation (EU) 2017/1938 of the European Parliament and of the Council of 25 October 2017
                  concerning measures to ensure security of supply of natural gas and repealing Regulation
                  (EU) No 994/2010
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32016R1952&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Regulation (EU) 2016/1952 of the European Parliament and of the Council of 26 October 2016 on
                  European statistics on gas and electricity prices and repealing Directive 2008/92/EC
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32018L2001&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive (EU) 2018/2001 of the European Parliament and of the Council of 11 December 2018
                  on the promotion of the use of energy from renewable sources
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32003L0087&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2003/87/EC of the European Parliament and of the Council of 13 October 2003 establishing
                  a scheme for greenhouse gas emission allowance trading within the Community and amending
                  Council Directive 96/61/EC
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32009R0663&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Regulation (EC) No 663/2009 of the European Parliament and of the Council of 13 July 2009
                  establishing a programme to support economic recovery by granting Community financial
                  assistance to projects in the field of energy
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32018R1999&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Regulation (EU) 2018/1999 of the European Parliament and of the Council of 11
                  December 2018 on the Governance of the Energy Union and Climate Action
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32008R1099&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Regulation (EC) No 1099/2008 of the European Parliament and of the Council of 22 October
                  2008 concerning energy statistics
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32013R0347&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Regulation (EU) No 347/2013 of the European Parliament and of the Council of 17 April 2013 on
                  guidelines for trans-European energy infrastructure, and repealing Decision No 1364/2006/EC and
                  amending Regulations (EC) No 713/2009, (EC) No 714/2009 and (EC) No 715/2009 Text with EEA relevance
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32011R1227&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Regulation (EU) No 1227/2011 of the European Parliament and of the Council of 25 October 2011 on
                  wholesale energy market integrity and transparency Text with EEA relevance
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32019R0942&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">

              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32013D1386&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Regulation (EU) 2019/942 of the European Parliament and of the Council of 5 June 2019 establishing
                  a European Union Agency for the Cooperation of Energy Regulators
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32012L0027&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2012/27/EU of the European Parliament and of the Council of 25 October 2012 on energy
                  efficiency, amending Directives 2009/125/EC and 2010/30/EU and repealing Directives
                  2004/8/EC and 2006/32/EC
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32008L0050&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2008/50/EC of the European Parliament and of the Council of 21 May 2008
                  on ambient air quality and clean air for Europe
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32017D0684&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Decision (EU) 2017/684 of the European Parliament and of the Council of 5 April 2017 establishing
                  a mechanism for the exchange of information with regard to intergovernmental agreements and
                  non-binding instruments concluded between Member States and third countries in the field of
                  energy and repealing Decision No 994/2012/EU
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32008L0099&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Directive 2008/99/EC of the European Parliament and of the Council of 19 November 2008 on
                  the protection of the environment through criminal law
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32021R0696&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Regulation (EU) 2021/696 of the European Parliament and of the Council of 28 April 2021
                  establishing the Union space programme and the European Union Agency for the Space Programme
                  and repealing Regulations (EU) No 912/2010, (EU) No 1285/2013 and (EU) No 377/2014 and
                  Decision No 541/2014/EU
              </a>
              <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32021R0523&qid=1623822072847"
                 class="list-group-item list-group-item-action" target="_blank">
                  Regulation (EU) 2021/523 of the European Parliament and of the Council of 24 March 2021
                  establishing the InvestEU Programme and amending Regulation (EU) 2015/1017
              </a>
              <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F34671"
                 class="list-group-item list-group-item-action" target="_blank">
                  Permit to construct a professional, commercial or agricultural building in France
              </a>
              <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/R20835"
                 class="list-group-item list-group-item-action" target="_blank">
                  Application for a building permit (other than for a detached house or its annexes)
                  (Form 13409*07) in France
              </a>
              <a href="https://www.formulaires.service-public.fr/gf/getNotice.do?cerfaNotice=51434&cerfaFormulaire=13703"
                 class="list-group-item list-group-item-action" target="_blank">
                  Notice - Permit to build, develop, demolish, prior declaration in France
              </a>
              <a href="https://www.formulaires.service-public.fr/gf/getAnnexe.do?cerfaAnnexe=13409-1&cerfaFormulaire=13703"
                 class="list-group-item list-group-item-action" target="_blank">
                  Assistance form for the calculation of the floor area and the taxable area in France
              </a>
              <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/R42639"
                 class="list-group-item list-group-item-action" target="_blank">
                  Initial declaration of an ICPE Classified Facility (Form 15271*03) in France
              </a>
              <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/R42920"
                 class="list-group-item list-group-item-action" target="_blank">
                  Online declaration of an installation classified for the protection of the environment (ICPE)
                  (Online service) in France
              </a>
              <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F33414"
                 class="list-group-item list-group-item-action" target="_blank">
                  Installations classified as environmental protection (ICPE) or installations, works,
                  activities (Iota) in France
              </a>
              <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000033537539/"
                 class="list-group-item list-group-item-action" target="_blank">
                  Decree No. 2016-1661 of 5 December 2016 amending the Environmental Code and the nomenclature of
                  installations classified for the protection of the environment in France
              </a>
              <a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000031679840"
                 class="list-group-item list-group-item-action" target="_blank">
                  Order of 15 December 2015 on the dematerialization of the declaration of classified installations
                  for the protection of the environment in France
              </a>
              <a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000034315546"
                 class="list-group-item list-group-item-action" target="_blank">
                  Order of 3 March 2017 setting the national model for the application for registration of an
                  installation classified for the protection of the environment in France
              </a>
              <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000036074595/"
                 class="list-group-item list-group-item-action" target="_blank">
                  Order of 21 November 2017 amending certain ministerial orders applicable to certain installations
                  classified for the protection of the environment in France
              </a>
              <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000037345488/"
                 class="list-group-item list-group-item-action" target="_blank">
                  Order of 28 June 2018 amending the Order of 5 December 2016 on the requirements applicable to
                  certain installations classified for the protection of the environment subject to declaration
                  in France
              </a>
              <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000039291739/"
                 class="list-group-item list-group-item-action" target="_blank">
                  Decree No. 2019-1096 of 28 October 2019 amending the nomenclature of installations classified for
                  the protection of the environment in France
              </a>
              <a href="https://www.formulaires.service-public.fr/gf/cerfa_15271.do"
                 class="list-group-item list-group-item-action" target="_blank">
                  Initial declaration of a classified installation covered by the declaration regime in France
              </a>
              <a href="https://www.formulaires.service-public.fr/gf/getNotice.do?cerfaNotice=51948&cerfaFormulaire=15275"
                 class="list-group-item list-group-item-action" target="_blank">
                  Explanatory note for installations classified for the protection of environment (ICPE) under the
                  reporting regime in France
              </a>
              <a href="https://aida.ineris.fr/liste_documents/1/68857/1"
                 class="list-group-item list-group-item-action" target="_blank">
                  Installations Classified and ICPE nomenclature > ICPE nomenclature > ICPE nomenclature entries >
                  Classification by dangerous substances and mixtures > 47xx. Named substances and mixtures in France
              </a>
              <a href="https://aida.ineris.fr/consultation_document/35416"
                 class="list-group-item list-group-item-action" target="_blank">
                  Order of 12/02/98 on the general requirements applicable to installations classified for the
                  protection of the environment subject to declaration under heading No. 4715 in France
              </a>
              <a href="https://aida.ineris.fr/consultation_document/35416/version_pdf"
                 class="list-group-item list-group-item-action" target="_blank">
                  Order of 12/02/98 on the general requirements applicable to installations classified for the
                  protection of the environment subject to declaration under heading No. 4715 in France in PDF format
              </a>
              <a href="https://aida.ineris.fr/consultation_document/30090"
                 class="list-group-item list-group-item-action" target="_blank">
                  4715. Hydrogen (CAS No. 133-74-0) in France
              </a>
              <a href="https://aida.ineris.fr/consultation_document/30090/version_pdf"
                 class="list-group-item list-group-item-action" target="_blank">
                  4715. Hydrogen (CAS No. 133-74-0) in France in PDF format
              </a>
              <a href="https://aida.ineris.fr/consultation_document/29950#Article_4"
                 class="list-group-item list-group-item-action" target="_blank">
                  Decree No. 2014-285 of 03/03/14 amending the nomenclature of installations classified for the
                  protection of the environment in France
              </a>
          </div>
        </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>