<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}
</head>
<body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <br>

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- Body -->
      <div class="card text-center">
        <div class="card-header">
            Stanley Meyer's patents
        </div>
        <div class="card-body">
          <div class="list-group">
              <a href="https://patents.google.com/patent/US5149407A/en?oq=US5149407"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                Process and apparatus for the production of fuel gas and the enhanced release of thermal energy
                from such gas - US5149407A
              </a>
              <a href="https://patents.google.com/patent/US4389981A/en?oq=US4389981"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                Hydrogen gas injector system for internal combustion engine - US4389981A
              </a>
              <a href="https://patents.google.com/patent/US4613779A/en?oq=US4613779"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                Electrical pulse generator - US4613779A
              </a>
              <a href="https://patents.google.com/patent/US4421474A/en?oq=US4421474"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Hydrogen gas burner - US4421474A
              </a>
              <a href="https://patents.google.com/patent/EP0111573A1/en?oq=EP0111573A1"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Hydrogen generator system - EP0111573A1
              </a>
              <a href="https://patents.google.com/patent/US4613304A/en?oq=US4613304"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Gas electrical hydrogen generator - US4613304A
              </a>
              <a href="https://patents.google.com/patent/US4275950A/en?oq=US4275950"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Light-guide lens - US4275950A
              </a>
              <a href="https://patents.google.com/patent/US3970070A/en?oq=US3970070"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Solar heating system - US3970070A
              </a>
              <a href="https://patents.google.com/patent/US4265224A/en?oq=US4265224"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Multi-stage solar storage system - US4265224A
              </a>
              <a href="https://patents.google.com/patent/US4465455A/en?oq=US4465455"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Start-up/shut-down for a hydrogen gas burner - US4465455A
              </a>
              <a href="https://patents.google.com/patent/US4798661A/en?oq=US4798661"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Gas generator voltage control circuit - US4798661A
              </a>
              <a href="https://patents.google.com/patent/US5293857A/en?oq=US5293857"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Hydrogen gas fuel and management system for an internal combustion engine utilizing hydrogen gas
                  fuel - US5293857A
              </a>
              <a href="https://patentimages.storage.googleapis.com/95/f5/2c/4926bda10b76f4/EP0101761A3.pdf"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Controlled hydrogen gas flame - EP0101761A3
              </a>
              <a href="https://patents.google.com/patent/EP0086439B1/en?oq=EP0086439"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Hydrogen gas injector system for internal combustion engine - EP0086439B1
              </a>
              <a href="https://patents.google.com/patent/CA1231872A/en?oq=EP0086439"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Hydrogen injection system - CA1231872A
              </a>
              <a href="https://patents.google.com/patent/AT67276T/en?oq=EP0086439"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Combustion device for mechanical drive systems using hydrogen gas as a fuel - AT67276T
              </a>
              <a href="https://patents.google.com/patent/AT51438T/en?oq=EP0086439"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Device for generating gases from water and for controlled combustion of these gases - AT51438T
              </a>
              <a href="https://patents.google.com/patent/WO1992008046A1/en?oq=EP0086439"
                 class="list-group-item list-group-item-action"
                 target="_blank">
                  Hydrogen gas fuel and management system for an internal combustion engine utilizing hydrogen gas
                  fuel - WO1992008046A1
              </a>
          </div>
        </div>
      </div>

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>