<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Code Ad -->
    {% include 'index/codeAd.html' %}

    <!-- title -->
    {% include 'index/title.html' %}
  </head>
  <body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- ad1 -->
      {% include 'index/ad1.html' %}

      <br>

      <!-- Body -->
      <!-- Edition de logiciels applicatifs -->
      <div class="card">
        <div class="card-header text-center">
          Application software edition
        </div>
        <div class="card-body">
          <!-- Segmentation clients par activité -->
          <div class="card">
            <div class="card-header text-center">
              Customer segmentation by activity
            </div>
            <div class="card-body">
              <div class="list-group text-center">
                <a href="https://en.wikipedia.org/wiki/Real_estate" class="list-group-item list-group-item-action">
                  Real estate
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy" class="list-group-item list-group-item-action">
                  Energy
                </a>
                <a href="https://en.wikipedia.org/wiki/Insurance" class="list-group-item list-group-item-action">
                  Insurance
                </a>
                <a href="https://en.wikipedia.org/wiki/Bank" class="list-group-item list-group-item-action">
                  Bank
                </a>
                <a href="https://en.wikipedia.org/wiki/Finance" class="list-group-item list-group-item-action">
                  Finance
                </a>
                <a href="https://en.wikipedia.org/wiki/Mechanical" class="list-group-item list-group-item-action">
                  Mechanical
                </a>
                <a href="https://en.wikipedia.org/wiki/Agriculture" class="list-group-item list-group-item-action">
                  Agriculture
                </a>
                <a href="https://en.wikipedia.org/wiki/Cement" class="list-group-item list-group-item-action">
                  Cement plant
                </a>
                <a href="https://en.wikipedia.org/wiki/Marketing" class="list-group-item list-group-item-action">
                  Marketing
                </a>
                <a href="https://en.wikipedia.org/wiki/Culture" class="list-group-item list-group-item-action">
                  Culture
                </a>
                <a href="https://en.wikipedia.org/wiki/Education" class="list-group-item list-group-item-action">
                  Education
                </a>
                <a href="https://en.wikipedia.org/wiki/Electronic" class="list-group-item list-group-item-action">
                  Electronic
                </a>
                <a href="https://en.wikipedia.org/wiki/Hotel" class="list-group-item list-group-item-action">
                  Hotel
                </a>
                <a href="https://en.wikipedia.org/wiki/Public_service" class="list-group-item list-group-item-action">
                  Public service
                </a>
                <a href="https://en.wikipedia.org/wiki/Steel_industry" class="list-group-item list-group-item-action">
                  Steel industry
                </a>
                <a href="https://en.wikipedia.org/wiki/Heat" class="list-group-item list-group-item-action">
                  Heat producers
                </a>
                <a href="https://en.wikipedia.org/wiki/Cooling" class="list-group-item list-group-item-action">
                  Cold producers
                </a>
                <a href="https://en.wikipedia.org/wiki/Oil_refinery" class="list-group-item list-group-item-action">
                  Oil refinery
                </a>
                <a href="https://en.wikipedia.org/wiki/Chemical_industry" class="list-group-item list-group-item-action">
                  Chemical industry
                </a>
                <a href="https://en.wikipedia.org/wiki/Aeronautics" class="list-group-item list-group-item-action">
                  Aeronautics
                </a>
                <a href="https://en.wikipedia.org/wiki/List_of_automobile_manufacturers" class="list-group-item list-group-item-action">
                  Car manufacturers
                </a>
                <a href="https://en.wikipedia.org/w/index.php?search=Construction+machinery+manufacturers&title=Special%3ASearch&go=Go&ns0=1" class="list-group-item list-group-item-action">
                  Construction machinery manufacturers
                </a>
                <a href="https://en.wikipedia.org/wiki/List_of_truck_manufacturers" class="list-group-item list-group-item-action">
                  Truck manufacturers
                </a>
                <a href="https://en.wikipedia.org/wiki/Navy" class="list-group-item list-group-item-action">
                  Naval
                </a>
                <a href="https://en.wikipedia.org/wiki/List_of_motorcycle_manufacturers" class="list-group-item list-group-item-action">
                  Motorcycle manufacturers
                </a>
                <a href="https://en.wikipedia.org/w/index.php?search=Railway+manufacturers&title=Special%3ASearch&go=Go&ns0=1" class="list-group-item list-group-item-action">
                  Railway manufacturers
                </a>
                <a href="https://en.wikipedia.org/w/index.php?search=Train+builders&title=Special%3ASearch&go=Go&ns0=1" class="list-group-item list-group-item-action">
                  Train builders
                </a>
                <a href="https://en.wikipedia.org/w/index.php?search=Tunnel+manufacturers&title=Special%3ASearch&go=Go&ns0=1" class="list-group-item list-group-item-action">
                  Tunnel manufacturers
                </a>
              </div>
            </div>
          </div>

          <br>

          <!-- ad1 -->
          {% include 'index/ad1.html' %}

          <br>

          <!-- Compétences -->
          <div class="card">
            <div class="card-header text-center">
              Compétences
            </div>
            <div class="card-body">
              <!-- Développement front-end -->
              <div class="card">
                <div class="card-header text-center">
                  Front-end development
                </div>
                <div class="card-body">
                  <div class="list-group text-center">
                    <a href="https://en.wikipedia.org/wiki/HTML" class="list-group-item list-group-item-action">
                      HTML
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" class="list-group-item list-group-item-action">
                      CSS
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)" class="list-group-item list-group-item-action">
                      Bootstrap
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Django_(web_framework)" class="list-group-item list-group-item-action">
                      Django
                    </a>
                    <a href="https://en.wikipedia.org/wiki/JavaScript" class="list-group-item list-group-item-action">
                      JavaScript
                    </a>
                  </div>
                </div>
              </div>

              <br>

              <!-- ad1 -->
              {% include 'index/ad1.html' %}

              <br>

              <!-- Développement back-end -->
              <div class="card">
                <div class="card-header text-center">
                  Back-end development
                </div>
                <div class="card-body">
                  <div class="list-group text-center">
                    <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" class="list-group-item list-group-item-action">
                      Python
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Flask_(web_framework)" class="list-group-item list-group-item-action">
                      Flask
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" class="list-group-item list-group-item-action">
                      Java
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Spring_Framework" class="list-group-item list-group-item-action">
                      Spring
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Node.js" class="list-group-item list-group-item-action">
                      Node.js
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Express.js" class="list-group-item list-group-item-action">
                      Express.js
                    </a>
                    <a href="https://en.wikipedia.org/wiki/API" class="list-group-item list-group-item-action">
                      API Rest
                    </a>
                  </div>
                </div>
              </div>

              <br>

              <!-- ad1 -->
              {% include 'index/ad1.html' %}

              <br>

              <!-- Systèmes de bases de données -->
              <div class="card">
                <div class="card-header text-center">
                  Database systems
                </div>
                <div class="card-body">
                  <div class="list-group text-center">
                    <a href="https://en.wikipedia.org/wiki/MySQL" class="list-group-item list-group-item-action">
                      Relational databases with MySQL
                    </a>
                    <a href="https://en.wikipedia.org/wiki/MongoDB" class="list-group-item list-group-item-action">
                      Document database with MongoDB
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Neo4j" class="list-group-item list-group-item-action">
                      Graph databases with Neo4j
                    </a>
                  </div>
                </div>
              </div>

              <br>

              <!-- ad1 -->
              {% include 'index/ad1.html' %}

              <br>

              <!-- Contrôle de version -->
              <div class="card">
                <div class="card-header text-center">
                  Version control
                </div>
                <div class="card-body">
                  <div class="list-group text-center">
                    <a href="https://en.wikipedia.org/wiki/Git" class="list-group-item list-group-item-action">
                      Git
                    </a>
                  </div>
                </div>
              </div>

              <br>

              <!-- ad1 -->
              {% include 'index/ad1.html' %}

              <br>

              <!-- Test qualité de logiciel -->
              <div class="card">
                <div class="card-header text-center">
                  Software quality test
                </div>
                <div class="card-body">
                  <div class="list-group text-center">
                    <a href="https://en.wikipedia.org/wiki/List_of_unit_testing_frameworks#python" class="list-group-item list-group-item-action">
                      unittest
                    </a>
                    <a href="https://en.wikipedia.org/wiki/JUnit" class="list-group-item list-group-item-action">
                      JUnit
                    </a>
                    <a href="https://en.wikipedia.org/wiki/SonarQube" class="list-group-item list-group-item-action">
                      SonarQube
                    </a>
                  </div>
                </div>
              </div>

              <br>

              <!-- ad1 -->
              {% include 'index/ad1.html' %}

              <br>

              <!-- Déploiement d'application -->
              <div class="card">
                <div class="card-header text-center">
                  Application deployment
                </div>
                <div class="card-body">
                  <div class="list-group text-center">
                    <a href="https://en.wikipedia.org/wiki/Docker_(software)" class="list-group-item list-group-item-action">
                      Docker
                    </a>
                  </div>
                </div>
              </div>

              <br>

              <!-- ad1 -->
              {% include 'index/ad1.html' %}

              <br>

              <!-- Développement mobile -->
              <div class="card">
                <div class="card-header text-center">
                  Mobile development
                </div>
                <div class="card-body">
                  <div class="list-group text-center">
                    <a href="https://en.wikipedia.org/wiki/Android_(operating_system)" class="list-group-item list-group-item-action">
                      Android
                    </a>
                  </div>
                </div>
              </div>

              <br>

              <!-- ad1 -->
              {% include 'index/ad1.html' %}

              <br>

              <!-- Conception industrielle assistée par ordinateur -->
              <div class="card">
                <div class="card-header text-center">
                  Computer-aided industrial design
                </div>
                <div class="card-body">
                  <div class="list-group text-center">
                    <a href="https://en.wikipedia.org/wiki/FreeCAD" class="list-group-item list-group-item-action">
                      Python script for FreeCAD
                    </a>
                    <a href="https://xess.com/skidl/docs/_site/" class="list-group-item list-group-item-action">
                      Python script for Skidl
                    </a>
                  </div>
                </div>
              </div>

              <br>

              <!-- ad1 -->
              {% include 'index/ad1.html' %}

              <br>

              <!-- Systèmes d'exploitation et systèmes embarquées -->
              <div class="card">
                <div class="card-header text-center">
                  Operating systems and embedded systems
                </div>
                <div class="card-body">
                  <div class="list-group text-center">
                    <a href="https://en.wikipedia.org/wiki/Windows_10" class="list-group-item list-group-item-action">
                      Windows 10
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Linux" class="list-group-item list-group-item-action">
                      Linux
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Arduino" class="list-group-item list-group-item-action">
                      Arduino
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" class="list-group-item list-group-item-action">
                      Raspberry Pi
                    </a>
                  </div>
                </div>
              </div>

              <br>

              <!-- ad1 -->
              {% include 'index/ad1.html' %}

              <br>

              <!-- Intelligence artificielle -->
              <div class="card">
                <div class="card-header text-center">
                  Artificial intelligence
                </div>
                <div class="card-body">
                  <div class="list-group text-center">
                    <a href="https://en.wikipedia.org/wiki/Data_mining" class="list-group-item list-group-item-action">
                      Data mining
                    </a>
                  </div>
                </div>
              </div>

              <br>

              <!-- ad1 -->
              {% include 'index/ad1.html' %}

              <br>

              <!-- Cybersécurité / Réseaux / Protocoles -->
              <div class="card">
                <div class="card-header text-center">
                  Cybersecurity / Networks / Protocols
                </div>
                <div class="card-body">
                  <div class="list-group text-center">
                    <a href="https://en.wikipedia.org/wiki/Wireshark" class="list-group-item list-group-item-action">
                      Wireshark
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Snort_(software)" class="list-group-item list-group-item-action">
                      Snort
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy" class="list-group-item list-group-item-action">
                      Pretty Good Privacy
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Internet_Protocol" class="list-group-item list-group-item-action">
                      IP protocol
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol" class="list-group-item list-group-item-action">
                      TCP protocol
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Secure_Shell" class="list-group-item list-group-item-action">
                      Secure Shell protocol
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Simple_Mail_Transfer_Protocol" class="list-group-item list-group-item-action">
                      SMTP protocol
                    </a>
                    <a href="https://en.wikipedia.org/wiki/File_Transfer_Protocol" class="list-group-item list-group-item-action">
                      File transfer protocol
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Port_forwarding" class="list-group-item list-group-item-action">
                      Port forwarding
                    </a>
                    <a href="https://en.wikipedia.org/wiki/HTTPS" class="list-group-item list-group-item-action">
                      HTTPS protocol
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Modbus" class="list-group-item list-group-item-action">
                      Modbus protocol
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>

          <!-- ad1 -->
          {% include 'index/ad1.html' %}

          <br>

          <!-- Cas d'utilisation -->
          <div class="card">
            <div class="card-header text-center">
              Use case
            </div>
            <div class="card-body">
              <div class="list-group text-center">
                <a href="https://en.wikipedia.org/wiki/Mobile_marketing#Mobile_marketing_via_SMS_Marketing" class="list-group-item list-group-item-action">
                  SMS marketing
                </a>
                <a href="https://en.wikipedia.org/wiki/Email_marketing" class="list-group-item list-group-item-action">
                  Email marketing
                </a>
                <a href="https://en.wikipedia.org/wiki/Data_mining" class="list-group-item list-group-item-action">
                  Data mining
                </a>
                <a href="https://en.wikipedia.org/wiki/Website" class="list-group-item list-group-item-action">
                  Website
                </a>
                <a href="https://en.wikipedia.org/wiki/Robotic_process_automation" class="list-group-item list-group-item-action">
                  Automation of robotic processes
                </a>
                <a href="https://en.wikipedia.org/wiki/Video" class="list-group-item list-group-item-action">
                  Programming videos creation
                </a>
                <a href="https://en.wikipedia.org/wiki/Dematerialization" class="list-group-item list-group-item-action">
                  Dematerialization of an administrative process
                </a>
                <a href="https://en.wikipedia.org/wiki/Image" class="list-group-item list-group-item-action">
                  Programming images
                </a>
                <a href="https://en.wikipedia.org/wiki/Programming_(music)" class="list-group-item list-group-item-action">
                  Programming music
                </a>
                <a href="https://en.wikipedia.org/wiki/Voice-based_marketing_automation" class="list-group-item list-group-item-action">
                  Voice marketing
                </a>
                <a href="https://en.wikipedia.org/wiki/Data_transmission" class="list-group-item list-group-item-action">
                  Data communication
                </a>
                <a href="https://en.wikipedia.org/wiki/Embedded_system" class="list-group-item list-group-item-action">
                  Creation of an embedded system
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

      <!-- ad1 -->
      {% include 'index/ad1.html' %}

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <br>

    <!-- blockadblock -->
    {% include 'index/blockadblock.html' %}
  </body>
</html>