<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- title -->
    {% include 'index/title.html' %}

    <!-- Code Ad -->
    {% include 'index/codeAd.html' %}
  </head>
  <body>
    <div class="container">
      <!-- Code consent -->
      {% include 'index/consent.html' %}

      <br>

      <!-- Header -->
      {% include 'index/header.html' %}

      <br>

      <!-- ad1 -->
      {% include 'index/ad1.html' %}

      <br>

      <!-- Contents -->
      <div class="card">
        <div class="card-header text-center">
          Contents
        </div>
        <div class="card-body">
          <!-- Tax haven -->
          <div class="list-group text-center">
            <a href="../tax-haven" class="list-group-item list-group-item-action">
              Tax haven
            </a>
            <a href="../contents/international_energy" class="list-group-item list-group-item-action">
              International energy
            </a>
            <a href="../contents/international_free_trade_agreements" class="list-group-item list-group-item-action">
              International free trade agreements
            </a>
            <a href="../contents/international_lands_for_injecting_gas" class="list-group-item list-group-item-action">
              International lands for injecting gas
            </a>
            <a href="../contents/international_electricity_generation_without_license" class="list-group-item list-group-item-action">
              International electricity generation without license
            </a>
            <a href="../contents/countries_with_gas_networks" class="list-group-item list-group-item-action">
              Countries with a gas network
            </a>
            <a href="../contents/international_energy_needs_for_abundance" class="list-group-item list-group-item-action">
              International energy needs for abundance
            </a>
            <a href="../contents/forecast_of_worldwide_ammonia_production" class="list-group-item list-group-item-action">
              Forecast of worldwide ammonia production
            </a>
            <a href="../contents/forecast_of_worldwide_natural_gas_reserves" class="list-group-item list-group-item-action">
              Forecast of worldwide natural gas reserves
            </a>
            <a href="../contents/international_real_estate_price" class="list-group-item list-group-item-action">
              International real estate price
            </a>
            <a href="../contents/international_plastic_waste" class="list-group-item list-group-item-action">
              International plastic waste
            </a>
            <a href="../contents/forecast_of_worldwide_coal_reserves" class="list-group-item list-group-item-action">
              Forecast of worldwide coal reserves
            </a>
            <a href="../contents/forcecast_of_worldwide_crude_oil_reserves" class="list-group-item list-group-item-action">
              Forcecast of worldwide crude oil reserves
            </a>
            <a href="../contents/forecast_of_worldwide_uranium_reserves" class="list-group-item list-group-item-action">
              Forecast of worldwide uranium reserves
            </a>
            <a href="../contents/worldwide_mercury_producers" class="list-group-item list-group-item-action">
              Worldwide mercury producers
            </a>
            <a href="../contents/countries_ratified_minamata_convention" class="list-group-item list-group-item-action">
              Countries whom have ratified Minamata Convention
            </a>
            <a href="../contents/mendeleev_table" class="list-group-item list-group-item-action">
              Table of Mendeleev
            </a>
          </div>
        </div>
      </div>

      <br>

      <!-- ad1 -->
      {% include 'index/ad1.html' %}

      <br>

      <!-- Footer -->
      {% include 'index/footer.html' %}

      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <br>

    <!-- blockadblock -->
    {% include 'index/blockadblock.html' %}
  </body>
</html>