<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Code Ad -->
        {% include 'index/codeAd.html' %}

        <!-- title -->
        {% include 'index/title.html' %}
    </head>
    <body>
        <div class="container">
          <!-- Code consent -->
          {% include 'index/consent.html' %}

          <!-- Header -->
          {% include 'index/header.html' %}

          <br>

          <!-- ad1 -->
          {% include 'index/ad1.html' %}

          <br>

          <!-- International energy -->
          <div class="card">
            <div class="card-header text-center">
              International energy
            </div>
            <div class="card-body">
              <div class="list-group text-center">
                <a href="https://en.wikipedia.org/wiki/Energy_in_Afghanistan" class="list-group-item list-group-item-action">
                  Energy in Afghanistan
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Albania#Energy" class="list-group-item list-group-item-action">
                  Energy in Albania
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Algeria" class="list-group-item list-group-item-action">
                  Energy in Algeria
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Angola" class="list-group-item list-group-item-action">
                  Energy in Angola
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_Argentina" class="list-group-item list-group-item-action">
                  Energy in Argentina
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Armenia" class="list-group-item list-group-item-action">
                  Energy in Armenia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Australia" class="list-group-item list-group-item-action">
                  Energy in Australia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Austria" class="list-group-item list-group-item-action">
                  Energy in Austria
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Azerbaijan" class="list-group-item list-group-item-action">
                  Energy in Azerbaijan
                </a>
                <a href="https://en.wikipedia.org/wiki/Bahamas_Electricity_Corporation" class="list-group-item list-group-item-action">
                  Energy in The Bahamas
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Bahrain" class="list-group-item list-group-item-action">
                  Energy in Bahrain
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_Bangladesh" class="list-group-item list-group-item-action">
                  Energy in Bangladesh
                </a>
                <a href="https://en.wikipedia.org/wiki/Barbados_Light_and_Power_Company" class="list-group-item list-group-item-action">
                  Energy in Barbados
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Belarus" class="list-group-item list-group-item-action">
                  Energy in Belarus
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Belgium" class="list-group-item list-group-item-action">
                  Energy in Belgium
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Belize" class="list-group-item list-group-item-action">
                  Energy in Belize
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Benin" class="list-group-item list-group-item-action">
                  Energy in Benin
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Bhutan" class="list-group-item list-group-item-action">
                  Energy in Bhutan
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_Bolivia" class="list-group-item list-group-item-action">
                  Energy in Bolivia
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Bosnia_and_Herzegovina" class="list-group-item list-group-item-action">
                  Energy in Bosnia and Herzegovina
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Botswana" class="list-group-item list-group-item-action">
                  Energy in Botswana
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Brazil" class="list-group-item list-group-item-action">
                  Energy in Brazil
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Brunei" class="list-group-item list-group-item-action">
                  Energy in Brunei
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Bulgaria" class="list-group-item list-group-item-action">
                  Energy in Bulgaria
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Burkina_Faso" class="list-group-item list-group-item-action">
                  Energy in Burkina Faso
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Myanmar" class="list-group-item list-group-item-action">
                  Energy in Myanmar (ex-Burma)
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Burundi" class="list-group-item list-group-item-action">
                  Energy in Burundi
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Cambodia" class="list-group-item list-group-item-action">
                  Energy in Cambodia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Cameroon" class="list-group-item list-group-item-action">
                  Energy in Cameroon
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_policy_of_Canada" class="list-group-item list-group-item-action">
                  Energy in Canada
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Cape_Verde" class="list-group-item list-group-item-action">
                  Energy in Cape Verde
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_the_Central_African_Republic" class="list-group-item list-group-item-action">
                  Energy in the Central African Republic
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Chad" class="list-group-item list-group-item-action">
                  Energy in Chad
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Chile" class="list-group-item list-group-item-action">
                  Energy in Chile
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_policy_of_China" class="list-group-item list-group-item-action">
                  Energy in China
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Taiwan" class="list-group-item list-group-item-action">
                  Energy in Taiwan
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_Colombia" class="list-group-item list-group-item-action">
                  Energy in Colombia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_the_Democratic_Republic_of_the_Congo" class="list-group-item list-group-item-action">
                  Energy in the Democratic Republic of the Congo
                </a>
                <a href="https://en.wikipedia.org/wiki/Renewable_energy_in_Costa_Rica" class="list-group-item list-group-item-action">
                  Energy in Costa Rica
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Ivory_Coast" class="list-group-item list-group-item-action">
                  Energy in Ivory Coast
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Croatia" class="list-group-item list-group-item-action">
                  Energy in Croatia
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Cuba" class="list-group-item list-group-item-action">
                  Energy in Cuba
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Cyprus" class="list-group-item list-group-item-action">
                  Energy in Cyprus
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_France" class="list-group-item list-group-item-action">
                  Energy in France
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_the_Czech_Republic" class="list-group-item list-group-item-action">
                  Energy in the Czech Republic
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Denmark" class="list-group-item list-group-item-action">
                  Energy in Denmark
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Djibouti" class="list-group-item list-group-item-action">
                  Energy in Djibouti
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Dominica" class="list-group-item list-group-item-action">
                  Energy in Dominica
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_the_Dominican_Republic" class="list-group-item list-group-item-action">
                  Energy in the Dominican Republic
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_East_Timor" class="list-group-item list-group-item-action">
                  Energy in East Timor
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_policy_of_Ecuador" class="list-group-item list-group-item-action">
                  Energy in Ecuador
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Egypt" class="list-group-item list-group-item-action">
                  Energy in Egypt
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_El_Salvador" class="list-group-item list-group-item-action">
                  Energy in El Salvador
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Equatorial_Guinea" class="list-group-item list-group-item-action">
                  Energy in Equatorial Guinea
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Eritrea" class="list-group-item list-group-item-action">
                  Energy in Eritrea
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Estonia" class="list-group-item list-group-item-action">
                  Energy in Estonia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Ethiopia" class="list-group-item list-group-item-action">
                  Energy in Ethiopia
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Fiji" class="list-group-item list-group-item-action">
                  Energy in Fiji
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Finland" class="list-group-item list-group-item-action">
                  Energy in Finland
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Gabon" class="list-group-item list-group-item-action">
                  Energy in Gabon
                </a>
                <a href="https://en.wikipedia.org/wiki/Minister_of_Energy_and_Petroleum_(The_Gambia)" class="list-group-item list-group-item-action">
                  Energy in the Gambia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Georgia_(country)" class="list-group-item list-group-item-action">
                  Energy in Georgia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Germany" class="list-group-item list-group-item-action">
                  Energy in Germany
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_Ghana" class="list-group-item list-group-item-action">
                  Energy in Ghana
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Greece" class="list-group-item list-group-item-action">
                  Energy in Greece
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Grenada" class="list-group-item list-group-item-action">
                  Energy in Grenada
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Guinea" class="list-group-item list-group-item-action">
                  Energy in Guinea
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricidade_e_Aguas_da_Guine-Bissau" class="list-group-item list-group-item-action">
                  Energy in Guinea-Bissau
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_Guyana" class="list-group-item list-group-item-action">
                  Energy in Guyana
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_Haiti" class="list-group-item list-group-item-action">
                  Energy in Haiti
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Vatican_City" class="list-group-item list-group-item-action">
                  Energy in Vatican City
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_Honduras" class="list-group-item list-group-item-action">
                  Energy in Honduras
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Hungary" class="list-group-item list-group-item-action">
                  Energy in Hungary
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Iceland" class="list-group-item list-group-item-action">
                  Energy in Iceland
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_India" class="list-group-item list-group-item-action">
                  Energy in India
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Indonesia" class="list-group-item list-group-item-action">
                  Energy in Indonesia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Iran" class="list-group-item list-group-item-action">
                  Energy in Iran
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Iraq" class="list-group-item list-group-item-action">
                  Energy in Iraq
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Ireland" class="list-group-item list-group-item-action">
                  Energy in Ireland
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Israel" class="list-group-item list-group-item-action">
                  Energy in Israel
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Italy" class="list-group-item list-group-item-action">
                  Energy in Italy
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Ivory_Coast" class="list-group-item list-group-item-action">
                  Energy in Ivory Coast
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Jamaica" class="list-group-item list-group-item-action">
                  Energy in Jamaica
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Japan" class="list-group-item list-group-item-action">
                  Energy in Japan
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Jordan" class="list-group-item list-group-item-action">
                  Energy in Jordan
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Kazakhstan" class="list-group-item list-group-item-action">
                  Energy in Kazakhstan
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Kenya" class="list-group-item list-group-item-action">
                  Energy in Kenya
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Kiribati" class="list-group-item list-group-item-action">
                  Energy in Kiribati
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_North_Korea" class="list-group-item list-group-item-action">
                  Energy in North Korea
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_South_Korea" class="list-group-item list-group-item-action">
                  Energy in South Korea
                </a>
                <a href="https://en.wikipedia.org/wiki/Electrical_energy_in_Kosovo" class="list-group-item list-group-item-action">
                  Energy in Kosovo
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Kuwait" class="list-group-item list-group-item-action">
                  Energy in Kuwait
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Kyrgyzstan" class="list-group-item list-group-item-action">
                  Energy in Kyrgyzstan
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Laos" class="list-group-item list-group-item-action">
                  Energy in Laos
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Latvia" class="list-group-item list-group-item-action">
                  Energy in Latvia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Lebanon" class="list-group-item list-group-item-action">
                    Energy in Lebanon
                </a>
                <a href="https://en.wikipedia.org/wiki/African_Clean_Energy" class="list-group-item list-group-item-action">
                    Energy in Lesotho
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Liberia" class="list-group-item list-group-item-action">
                    Energy in Liberia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Libya" class="list-group-item list-group-item-action">
                    Energy in Libya
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Liechtenstein" class="list-group-item list-group-item-action">
                    Energy in Liechtenstein
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Lithuania" class="list-group-item list-group-item-action">
                  Energy in Lithuania
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Luxembourg" class="list-group-item list-group-item-action">
                  Energy in Luxembourg
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Madagascar" class="list-group-item list-group-item-action">
                  Energy in Madagascar
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Malawi" class="list-group-item list-group-item-action">
                  Energy in Malawi
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_policy_of_Malaysia" class="list-group-item list-group-item-action">
                  Energy in Malaysia
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_the_Maldives" class="list-group-item list-group-item-action">
                  Energy in the Maldives
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Mali" class="list-group-item list-group-item-action">
                  Energy in Mali
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Malta" class="list-group-item list-group-item-action">
                  Energy in Malta
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_the_Marshall_Islands" class="list-group-item list-group-item-action">
                  Energy in the Marshall Islands
                </a>
                <a href="https://en.wikipedia.org/wiki/Ministry_of_Energy_(Mauritania)" class="list-group-item list-group-item-action">
                  Energy in Mauritania
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Mauritius" class="list-group-item list-group-item-action">
                  Energy in Mauritius
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Mexico" class="list-group-item list-group-item-action">
                  Energy in Mexico
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_the_Federated_States_of_Micronesia" class="list-group-item list-group-item-action">
                  Energy in Micronesia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Moldova" class="list-group-item list-group-item-action">
                  Energy in Moldova
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Monaco" class="list-group-item list-group-item-action">
                  Energy in Monaco
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Mongolia" class="list-group-item list-group-item-action">
                  Energy in Mongolia
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Montenegro" class="list-group-item list-group-item-action">
                  Energy in Montenegro
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_policy_of_Morocco" class="list-group-item list-group-item-action">
                  Energy in Morocco
                </a>
                <a href="https://en.wikipedia.org/wiki/Mozambique%E2%80%93South_Africa_Oil_Pipeline" class="list-group-item list-group-item-action">
                  Energy in Mozambique
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Namibia" class="list-group-item list-group-item-action">
                  Energy in Namibia
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Nauru" class="list-group-item list-group-item-action">
                  Energy in Nauru
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Nepal" class="list-group-item list-group-item-action">
                  Energy in Nepal
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_the_Netherlands" class="list-group-item list-group-item-action">
                  Energy in the Netherlands
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_New_Zealand" class="list-group-item list-group-item-action">
                  Energy in New Zealand
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_Nicaragua" class="list-group-item list-group-item-action">
                  Energy in Nicaragua
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Niger" class="list-group-item list-group-item-action">
                  Energy in Niger
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Nigeria" class="list-group-item list-group-item-action">
                  Energy in Nigeria
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Niue" class="list-group-item list-group-item-action">
                  Energy in Niue
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_North_Macedonia" class="list-group-item list-group-item-action">
                  Energy in North Macedonia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Norway" class="list-group-item list-group-item-action">
                  Energy in Norway
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Oman" class="list-group-item list-group-item-action">
                  Energy in Oman
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_policy_of_Pakistan" class="list-group-item list-group-item-action">
                  Energy in Pakistan
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Palau" class="list-group-item list-group-item-action">
                  Energy in Palau
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_the_State_of_Palestine" class="list-group-item list-group-item-action">
                  Energy in the State of Palestine
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Panama" class="list-group-item list-group-item-action">
                  Energy in Panama
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Papua_New_Guinea" class="list-group-item list-group-item-action">
                  Energy in Papua New Guinea
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Paraguay" class="list-group-item list-group-item-action">
                 Energy in Paraguay
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_Peru" class="list-group-item list-group-item-action">
                  Energy in Peru
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_the_Philippines" class="list-group-item list-group-item-action">
                  Energy in the Philippines
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Poland" class="list-group-item list-group-item-action">
                  Energy in Poland
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Portugal" class="list-group-item list-group-item-action">
                  Energy in Portugal
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Qatar" class="list-group-item list-group-item-action">
                  Energy in Qatar
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Romania" class="list-group-item list-group-item-action">
                  Energy in Romania
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Russia" class="list-group-item list-group-item-action">
                  Energy in Russia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Rwanda" class="list-group-item list-group-item-action">
                  Energy in Rwanda
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Western_Sahara" class="list-group-item list-group-item-action">
                  Energy in Western Sahara
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Saint_Kitts_and_Nevis" class="list-group-item list-group-item-action">
                  Energy in Saint Kitts and Nevis
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Saint_Lucia" class="list-group-item list-group-item-action">
                  Energy in Saint Lucia
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Saint_Vincent_and_the_Grenadines" class="list-group-item list-group-item-action">
                  Energy in Saint Vincent and the Grenadines
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Samoa" class="list-group-item list-group-item-action">
                  Energy in Samoa
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_San_Marino" class="list-group-item list-group-item-action">
                  Energy in San Marino
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_S%C3%A3o_Tom%C3%A9_and_Pr%C3%ADncipe" class="list-group-item list-group-item-action">
                  Energy in São Tomé and Príncipe
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Saudi_Arabia" class="list-group-item list-group-item-action">
                  Energy in Saudi Arabia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Senegal" class="list-group-item list-group-item-action">
                  Energy in Senegal
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Serbia" class="list-group-item list-group-item-action">
                  Energy in Serbia
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Seychelles" class="list-group-item list-group-item-action">
                  Energy in Seychelles
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Sierra_Leone" class="list-group-item list-group-item-action">
                  Energy in Sierra Leone
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Singapore" class="list-group-item list-group-item-action">
                  Energy in Singapore
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Slovakia" class="list-group-item list-group-item-action">
                  Energy in Slovakia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Slovenia" class="list-group-item list-group-item-action">
                  Energy in Slovenia
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Solomon_Islands" class="list-group-item list-group-item-action">
                  Energy in Solomon Islands
                </a>
                <a href="https://en.wikipedia.org/wiki/Ministry_of_Energy_%26_Minerals_(Somaliland)" class="list-group-item list-group-item-action">
                  Energy in Somalia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_South_Africa" class="list-group-item list-group-item-action">
                  Energy in South Africa
                </a>
                <a href="https://en.wikipedia.org/wiki/South_Ossetia" class="list-group-item list-group-item-action">
                  Energy in South Ossetia
                </a>
                <a href="https://en.wikipedia.org/wiki/South_Sudan_Electricity_Corporation" class="list-group-item list-group-item-action">
                  Energy in South Sudan
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Spain" class="list-group-item list-group-item-action">
                  Energy in Spain
                </a>
                <a href="https://en.wikipedia.org/wiki/Electricity_sector_in_Sri_Lanka" class="list-group-item list-group-item-action">
                  Energy in Sri Lanka
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Sudan" class="list-group-item list-group-item-action">
                  Energy in Sudan
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Suriname" class="list-group-item list-group-item-action">
                  Energy in Suriname
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Sweden" class="list-group-item list-group-item-action">
                  Energy in Sweden
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Switzerland" class="list-group-item list-group-item-action">
                  Energy in Switzerland
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Syria" class="list-group-item list-group-item-action">
                  Energy in Syria
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Tajikistan" class="list-group-item list-group-item-action">
                  Energy in Tajikistan
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Tanzania" class="list-group-item list-group-item-action">
                  Energy in Tanzania
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Thailand" class="list-group-item list-group-item-action">
                  Energy in Thailand
                </a>
                <a href="https://en.wikipedia.org/wiki/Ministry_of_Mines_and_Energy_(Togo)" class="list-group-item list-group-item-action">
                  Energy in Togo
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Tonga" class="list-group-item list-group-item-action">
                  Energy in Tonga
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Trinidad_and_Tobago" class="list-group-item list-group-item-action">
                  Energy in Trinidad and Tobago
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Tunisia" class="list-group-item list-group-item-action">
                  Energy in Tunisia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Turkey" class="list-group-item list-group-item-action">
                  Energy in Turkey
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Turkmenistan" class="list-group-item list-group-item-action">
                  Energy in Turkmenistan
                </a>
                <a href="https://en.wikipedia.org/wiki/Economy_of_Tuvalu" class="list-group-item list-group-item-action">
                  Energy in Tuvalu
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Uganda" class="list-group-item list-group-item-action">
                  Energy in Uganda
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Ukraine" class="list-group-item list-group-item-action">
                  Energy in Ukraine
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_the_United_Arab_Emirates" class="list-group-item list-group-item-action">
                  Energy in the United Arab Emirates
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_the_United_Kingdom" class="list-group-item list-group-item-action">
                  Energy in the United Kingdom
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_the_United_States" class="list-group-item list-group-item-action">
                  Energy in the United States
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Uruguay" class="list-group-item list-group-item-action">
                  Energy in Uruguay
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Uzbekistan" class="list-group-item list-group-item-action">
                  Energy in Uzbekistan
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Vanuatu" class="list-group-item list-group-item-action">
                  Energy in Vanuatu
                </a>
                <a href="https://en.wikipedia.org/wiki/Outline_of_Vatican_City" class="list-group-item list-group-item-action">
                  Energy in Vatican City
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Venezuela" class="list-group-item list-group-item-action">
                  Energy in Venezuela
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Vietnam" class="list-group-item list-group-item-action">
                  Energy in Vietnam
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Yemen" class="list-group-item list-group-item-action">
                  Energy in Yemen
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Zambia" class="list-group-item list-group-item-action">
                  Energy in Zambia
                </a>
                <a href="https://en.wikipedia.org/wiki/Energy_in_Zimbabwe" class="list-group-item list-group-item-action">
                  Energy in Zimbabwe
                </a>
                <a href="https://en.wikipedia.org/wiki/Worldwide_energy_supply" class="list-group-item list-group-item-action">
                  Worldwide energy supply
                </a>
              </div>
            </div>
          </div>

          <br>

          <!-- ad1 -->
          {% include 'index/ad1.html' %}

          <br>

          <!-- Footer -->
          {% include 'index/footer.html' %}

          <br>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

      <br>

      <!-- blockadblock -->
      {% include 'index/blockadblock.html' %}
    </body>
</html>